<p>Hi <%= first_name %></p>
 
<p>You can confirm your email by clicking on the following link</p>
 
<a href="<%= confirmation_link %>">Confirm my account</a>
 
<p>
    Regards,<br/>
    The Marketplace team
</p>