<p>Hi <%= first_name %></p>
 
<p>You have asked to change your email address in the platform. Please confirm this new email address by clicking on the following link</p>
 
 
<a href="<%= confirmation_link %>">Confirm my new email address</a>
 
<p>
    Regards,<br/>
    The Marketplace team
</p>