<p>Hi there,</p>
 
<p>You have been invited to create an account on our platform! You can do so by clicking on the link below:</p>
 
<a href="<%= registration_link %>">Create my account</a>
 
<p>
    Regards,<br/>
    The Marketplace team
</p>