<p>Hi <%= first_name %></p>
 
<p>You can reset your password by clicking on the following link</p>
 
<a href="<%= reset_password_link %>">Reset my password</a>
 
 
<p>
    Regards,<br/>
    The Marketplace team
</p>