<p>Hi <%= first_name %></p>
 
<p>You can unlock your account by clicking on the following link</p>
 
 
<a href="<%= unlock_link %>">Unlock my account</a>
 
 
<p>
    Regards,<br/>
    The Marketplace team
</p>