<rd-widget>
  <rd-widget-header icon="fa-comment">
    &nbsp;All comments
  </rd-widget-header>
  <rd-widget-body classes="large no-padding widget-comments">
    <div>
      <table class="table">
      <table class="table table-striped" >
      <thead>
        <tr>
        <th>Author</th>
        <th>Company</th>
        <th>App</th>
        <th>Type</th>
        <th>Message</th>
        <th>Rating</th>
        <th>Date</th>
        <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="review in listOfReviews">
          <td>
            {{review.user_name}}
          </td>
          <td>
            {{review.organization_name}}
          </td>
          <td>
            {{review.app_name}}
          </td>
          <td>
            {{review.type}}
          </td>
          <td>
            <p>{{review.description}}</p>
            <button type"" name="button" ng-click="openQuestionReplyModal(review)"  ng-show="review.type == 'Question'">Reply</button>
            <button type="" name="button" ng-click="openFeedbackReplyModal(review)" ng-show="review.type == 'Feedback'" >Comment</button>
            <button type="" name="button" ng-click="openEditModal(review)">Edit</button>
          </td>
          <td>
            {{review.rating}}
          </td>
          <td>
            {{review.created_at | date: 'dd/MM/yyyy' }}
          </td>
          <td><span ng-show="!editmode[review.id]">{{review.status}}</span>
            <select ng-model="review.status" ng-show="editmode[review.id]" >
              <option ng-repeat="status in statuses" value="{{status}}">{{status}}</option>
            </select>
          </td>
          <td>
            <a href="" ng-hide="editmode[review.id]" ng-click="editmode[review.id] = true"><i class="fa fa-pencil"></i></a>
          </td>
          <td>
          <!-- future implementation, waiting for back end to be ready -->
            <!-- <a href="" ng-hide="editmode[review.id]" ng-click="remove(review)"><i class="fa fa-times"></i></a> -->
            <a href="" ng-show="editmode[review.id]" ng-click="update(review)"><i class="fa fa-check"></i></a>
          </td>
        </tr>
      </tbody>
      </table>
      </table>
    </div>
  </rd-widget-body>
</rd-widget>
<div class="row">
  <div class="col-md-12 pagination">
    <div class="pagination-container">
      <span><i class="fa fa-arrow-left"></i> Back</span>
      <span class="pagination-pages">Pages 2/{{ parseInt(vm.app.questionCount/2) }}</span>
      <span>Next<i class="fa fa-arrow-right"></i></span>
    </div>
  </div>
</div>
