<rd-widget>
  <rd-widget-header icon="fa-comment">
    &nbsp;All comments
  </rd-widget-header>
  <rd-widget-body classes="large no-padding widget-comments">
    <div>
      <table class="table">
      <table class="table table-striped" >
      <thead>
        <tr>
        <th>Author</th>
        <th>Company</th>
        <th>App</th>
        <th>Type</th>
        <th>Message</th>
        <th>Rating</th>
        <th>Date</th>
        <th>Status</th>
        <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="review in listOfReviews">
          <td>
            {{review.user_name}}
          </td>
          <td>
            {{review.organization_name}}
          </td>
          <td>
            {{review.app_name}}
          </td>
          <td>
            {{review.type}}
          </td>
          <td>
            <p>{{review.description}}</p>
            <div class="text-right">
              <button type="" name="button" ng-show="review.type == 'Question'" ng-click="openQuestionReplyModal(review)">Reply</button>
              <button type="" name="button" ng-show="review.type == 'Feedback'" ng-click="openCommentModal(review)">Comment</button>
              <button type="" name="button" ng-show="review.type == 'Feedback'" ng-click="openFeedbackEditModal(review)">Edit</button>
              <button type="" name="button" ng-show="review.type == 'Answer'" ng-click="openAnswerEditModal(review)">Edit</button>
              <button type="" name="button" ng-show="review.type == 'Comment'" ng-click="openCommentEditModal(review)">Edit</button>
            </div>
          </td>
          <td>
            {{review.rating}}
          </td>
          <td>
            {{review.created_at | date: 'dd/MM/yyyy' }}
          </td>
          <td><span ng-show="!editmode[review.id]">{{review.status}}</span>
            <select ng-model="review.status" ng-show="editmode[review.id]" >
              <option ng-repeat="status in statuses" value="{{status}}">{{status}}</option>
            </select>
          </td>
          <td>
            <a href="" ng-hide="editmode[review.id]" ng-click="editmode[review.id] = true"><i class="fa fa-pencil"></i></a>
            <a href="" ng-show="editmode[review.id]" ng-click="update(review)"><i class="fa fa-check"></i></a>
          </td>

        </tr>
      </tbody>
      </table>
      </table>
    </div>
  </rd-widget-body>
</rd-widget>
