<div id="organization">
  <div class="row">
    <div class="col-xs-12">
      <h1>Organisation info</h1>

      <rd-widget loading="!vm.organization.invoices">
        <rd-widget-header icon="fa-sitemap" title="{{vm.organization.name}}"></rd-widget-header>
        <rd-widget-body>
          <div class="bs-row row">
            <div class="col-xs-6">
              <div class="label-cell">UID</div>
            </div>
            <div class="col-xs-6">
              {{vm.organization.uid}}
            </div>
          </div>
          <div class="bs-row row">
            <div class="col-xs-6">
              <div class="label-cell">Credit Card</div>
            </div>
            <div class="col-xs-6">
              <span ng-if="vm.organization.credit_card.presence" class="text-success">Yes</span>
              <span ng-if="!vm.organization.credit_card.presence" class="text-danger">No</span>
            </div>
          </div>
          <div class="bs-row row">
            <div class="col-sm-6"><div class="label-cell">Active apps</div></div>
            <div class="col-sm-6">
              <span ng-if="vm.organization.active_apps.length === 0">(none)</span>
              <div ng-if="vm.organization.active_apps.length > 0" class="bs-row row">
                <div class="app-wrapper col-xs-6 col-sm-4 col-md-3" ng-repeat="app in vm.organization.active_apps">
                  <div class="small-app-card ellipsis">
                    <i ng-show="vm.mnoAppInstances.isConnected(app)" class="fa fa-check-circle app-state state-success" uib-tooltip="{{::app.app_name}} is connected!" tooltip-append-to-body="true"></i>
                    <i ng-show="!vm.mnoAppInstances.isConnected(app)" class="fa fa-exclamation-circle app-state state-warning" uib-tooltip="{{::app.app_name}} is not connected." tooltip-append-to-body="true"></i>
                    <img ng-src="{{::app.app_logo}}" width="60">
                    <span>{{::app.app_name}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </rd-widget-body>
      </rd-widget>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 top-buffer-1">
      <button role="button" ng-click="vm.users.createUserModal()" ng-disabled="!vm.organization" class="btn btn-primary">
         Add a user
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mnoe-users-local-list list="vm.organization.members" organization="vm.organization" view="all"></mnoe-users-local-list>
    </div>
    <div class="col-md-6">
      <rd-widget>
        <rd-widget-header icon="fa-file-text-o" title="Invoices"></rd-widget-header>
        <rd-widget-body loading="!vm.organization.invoices" classes="medium no-padding">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Start</th>
                  <th>End</th>
                  <th>Amount</th>
                  <th class="text-center">Paid</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="invoice in vm.organization.invoices">
                  <td>{{invoice.started_at | date: 'dd/MM/yyyy'}}</a></td>
                  <td>{{invoice.ended_at | date: 'dd/MM/yyyy'}}</td>
                  <td>{{invoice.amount.options.iso_code}} {{invoice.amount.value}}</td>
                  <td class="text-center">
                    <span ng-if="invoice.paid" class="text-success">Yes</span>
                    <span ng-if="!invoice.paid" class="text-danger">No</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </rd-widget-body>
      </rd-widget>
    </div>
  </div>
</div>
