rd-widget {
  .widget {
    margin-top: 15px;

    .widget-header {
      .search-bar {
        width: inherit;
        float: right;
      }
    }

    .widget-body {
      .table {
        margin-bottom: 0px;
      }
    }

    .widget-footer {
      overflow: hidden;
    }
  }
}
