.registration
  .container
    .row
      .login-box-wrapper
        .login-box-title
          %h2 Sign Up
        .login-box
          .brand-logo
          = render "mno_enterprise/auth/registrations/default/form"
          %hr
          = render "mno_enterprise/auth/shared/links"