.support {
  .presenter {
    background-color:white;
    .border-radius(5px);
    padding:10px;
    h4 {
      .font(16px,bold,@bg-inverse-color);
    }

    .content {
      margin-top:5px;
      margin-left:15px;
      h5 {
        .font(16px,normal,@text-inverse-color);
      }

      a {
        display:block;
        margin:12px 0px;
      }
    }

    .btn {
      float:right;
    }

    .media-body {
      .font(16px,normal,@text-inverse-color);
      a, .highlighted {
        color:@brand-primary;
      }
    }

    .pull-left {
      .fa {
        color:@bg-main-color;
        font-size:40px;
        margin:0px 12px;
      }
    }
  }
}
