.registration
  .container
    .row
      //.col-md-6.col-md-offset-3
      .login-box-wrapper
        .login-box-title
          %h2 Almost there
        .login-box
          .brand-logo
          = render "mno_enterprise/auth/confirmations/default/form"
