<h2>My Account</h2>
<div class="spacer2"></div>
<div accordion class="accordion">
  <div accordion-group is-open="isPersoInfoOpen">
    <div accordion-heading>
      Personal Information  <span class="caret pull-right" ng-class="{'caret-down': !isPersoInfoOpen, 'caret-up': isPersoInfoOpen}"></span>
    </div>

    <h2>Personal Information</h2>
    <div class="alert alert-error" ng-show="errors.user">
      <button class="close" ng-click="errors.user=''">×</button>
      <ul>
        <li ng-repeat="error in errors.user">{{error}}</li>
      </ul>
    </div>
    <div class="alert alert-success" ng-show="success.user">
      <button class="close" ng-click="success.user=''">×</button>
      <p>{{success.user}}</p>
    </div>
    <form name='form'>
      <div class='row'>
        <div class='col-md-6'>
          <div class='field-name'>Name</div>
          <input type='text' ng-model='user.model.name' class='form-control'>
        </div>
        <div class='col-md-6'>
          <div class='field-name'>Surname</div>
          <input type='text' ng-model='user.model.surname' class='form-control'>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
          <div class='field-name'>Email</div>
          <input type='text' ng-model='user.model.email' class='form-control'>
        </div>
        <div class='col-md-6'>
          <div class='field-name'>Company</div>
          <input type='text' ng-model='user.model.company' class='form-control'>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
          <div class='field-name'>Phone</div>
          <div class="input-group">
            <div class="input-group-addon select">
              <select ng-options="phone[0] as phone[1] for phone in countryCodes" ng-model='user.model.phone_country_code'></select>
            </div>
            <input type='text' ng-model='user.model.phone' class='form-control'>
          </div>
        </div>
        <div class='col-md-6'>
          <div class='field-name'>Website</div>
          <input type='text' ng-model='user.model.website' class='form-control'>
        </div>
      </div>
      <br>
      <div class='row'>
        <div class='col-md-12'>
          <button ng-disabled="!user.hasChanged() || user.loading" class='btn btn-warning' ng-click="user.update()">Save</button>
          <button ng-show="user.hasChanged()" class='btn' ng-click="user.cancelChanges()">Cancel</button>
        </div>
      </div>
    </form>
  </div>

  <div accordion-group is-open="isChangePasswordOpen">
    <div accordion-heading>
        Change password <span class="caret pull-right" ng-class="{'caret-down': !isChangePasswordOpen, 'caret-up': isChangePasswordOpen}"></span>
    </div>
    <div class="alert alert-error" ng-show="errors.changePassword">
      <button class="close" ng-click="errors.changePassword=''">×</button>
      <ul>
        <li ng-repeat="error in errors.changePassword">{{error}}</li>
      </ul>
    </div>
    <div class="alert alert-success" ng-show="success.changePassword">
      <button class="close" ng-click="success.changePassword=''">×</button>
      <p>{{success.changePassword}}</p>
    </div>
    <form name='form'>
      <div class='row'>
        <div class='col-md-6'>
          <div class='field-name'>Current Password</div>
          <input type='password' ng-model='user.password.currentPassword' class='form-control'>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
          <div class='field-name'>New Password</div>
          <input type='password' ng-model='user.password.newPassword' class='form-control'>
        </div>
        <div class='col-md-6'>
          <div class='field-name'>Confirm Password</div>
          <input type='password' ng-model='user.password.confirmPassword' class='form-control'>
        </div>
      </div>
      <br>
      <button ng-click="user.updatePassword()" ng-disabled="!user.updatePasswordEnabled() || user.loading" class='btn btn-warning'>Save</button>
      <button ng-click="user.cancelPassword()" ng-show="user.cancelPasswordEnabled()" class='btn'>Cancel</button>
    </form>
  </div>
  <div accordion-group is-open="isAccountDeletionOpen">
    <div accordion-heading>
        Account deletion <span class="caret pull-right" ng-class="{'caret-down': !isAccountDeletionOpen, 'caret-up': isAccountDeletionOpen}"></span>
    </div>
    <div class='align-center'>
      <div class="alert alert-error" ng-show="errors.deletionReq">
        <button class="close" ng-click="errors.deletionReq=''">×</button>
        <ul>
          <li ng-repeat="error in errors.deletionReq">{{error}}</li>
        </ul>
      </div>
      <div ng-switch="user.currentDeletionRequestToken">
        <div ng-switch-when="-1">
          <p>Here you can delete your account. Before proceeding you will be asked for several confirmations (including email). Upon confirmation you will be redirected to a checkout page in order to pay any outstanding amount due.</p>
          <p>All applications created under your account will be deleted. Do not forget to transfer any critical application to your coworkers (via organizations) before deleting your account.</p>
          <button ng-click="user.createDeletionRequest()" ng-disabled="user.loading" class='btn btn-danger'>Request deletion of my account</button>
        </div>
        <div ng-switch-default>
          <p>Instructions to delete your account have been sent to you by email. If you haven't received them you can resend the email by clicking on the button below:</p>
          <button ng-click="user.resendDeletionRequest()" ng-disabled="user.loading" class='btn'>Resend instructions</button>
          <p>You can cancel this request by clicking on the button below:</p>
          <button ng-click="user.cancelDeletionRequest()" ng-disabled="user.loading" class='btn'>Cancel account termination request</button>
        </div>
      </div>
    </div>
  </div>
</div>

