<!---------------------------->
<!--    Advertisement moda  -->
<!---------------------------->
<div mno-message-modal></div>


<!---------------------------->
<!--    Responsive Navbar   -->
<!---------------------------->
<div class="navbar navbar-fixed-top navbar-inverse navbar-dashboard visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle='collapse' data-target='#maestrano-dashboard-navbar-collapse'>
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <a class="navbar-brand" href="/">
      <div>Dashboard</div>
    </a>
    <div class="collapse navbar-collapse" id="maestrano-dashboard-navbar-collapse">
      <ul class="nav navbar-nav">
        <!-- ------------------------- -->
        <!-- My account section        -->
        <!-- ------------------------- -->
        <li ng-show="!selectBoxisEmpty()">
          <a href="#/">My dashboard</a>
        </li>
        <li>
          <a href="#/account">My account</a>
        </li>
        <li ng-show="!selectBoxisEmpty()">
          <a href="#/company">My company</a>
        </li>
        <li ng-show="!selectBoxisEmpty()">
          <a href="#/marketplace">Marketplace</a>
        </li>
        <!-- <li ng-show="!selectBoxisEmpty()">
          <a href="#/support">Support</a>
        </li> -->
        <li>
          <a href="/mnoe/auth/users/sign_out" data-method='delete'>Sign Out</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Push content below the navbar + select box -->
<div class="spacer2 visible-xs-block"></div>

<!-------------------------->
<!--    Select Box        -->
<!-------------------------->
<div class="company-select-box">
  <div class="wrapper">
    
    <div class="box-header">
      <span class="title">{{ selectBox.userLabel }}</span>
      -
      <span class="title">{{ selectBox.organization.name }}</span>
      <a type="button" class="btn switch-company" ng-click="selectBox.toggle()">
        <i ng-class="!selectBox.isClosed && 'active'"></i>
      </a>
    </div>
    
    <div class="box-content scrollbar-hidden" collapse="selectBox.isClosed">
      <ul class="list-unstyled">
        <li ng-repeat="organization in selectBox.organizationList()" >
          <a href="" ng-click="selectBox.changeTo(organization)" compile="selectBox.organizationLabel(organization)"></a>
        </li>
      </ul>
      <div class="create-new">
        <a href="" ng-click="selectBox.createNewOrga()"><em><small>New Company</small></em></a>
      </div>
    </div>
    
  </div>
</div>

<!-------------------------->
<!--    Side Navbar       -->
<!-------------------------->
<div class="col-xs-1 hidden-xs scrollbar-hidden">
  <div class="menu vertical expanded">
      <!--Home page link-->
      <a href="/">
        <div class='brand-logo'></div>
      </a>
      <!---------------------------------------------------------------------------------------------------------------->
  <!--                                         User section                                                       -->
  <!---------------------------------------------------------------------------------------------------------------->
      <div  ng-show="!selectBoxisEmpty()">
        <a href="#/">
          <div class="dashboard-button" ng-class="isButtonActive('/') && 'active'">
            <div class='content'>Dashboard</div>
            <i class="dhb-icon-dashboard"></i>
          </div>
        </a>
        <br>
      </div>
      <a href="#/account">
        <div ng-class="isButtonActive('/account') && 'active'" class="dashboard-button">
          <div class='content'>My Account</div>
          <i class="dhb-icon-account"></i>
        </div>
      </a>
      <br>
      <div  ng-show="!selectBoxisEmpty()">
        <a href="#/company">
          <div ng-class="isButtonActive('/company') && 'active'" class="dashboard-button">
            <div class='content'>Company</div>
            <i class="dhb-icon-company"></i>
          </div>
        </a>
        <br>
      </div>
      <!-- <div  ng-show="!selectBoxisEmpty()">
        <a href="#/support">
          <div ng-class="isButtonActive('/support') && 'active'" class="dashboard-button">
            <div class='content'>Support</div>
            <i class="dhb-icon-support"></i>
          </div>
        </a>
        <br>
      </div> -->
      <div  ng-show="!selectBoxisEmpty()">
        <a href="#/marketplace">
          <div ng-class="isButtonActive('/marketplace') && 'active'" class="dashboard-button">
            <div class='content'>Marketplace</div>
            <i class="dhb-icon-marketplace"></i>
          </div>
        </a>
        <br>
      </div>
      <a href="/mnoe/auth/users/sign_out" data-method='delete'>
        <div class="dashboard-button">
          <div class='content'>Logout</div>
          <i class="dhb-icon-logout"></i>
        </div>
      </a>
    </div>
  </div>