<div class="modal-header">
  <div class="close" type="button" ng-click="teamDeletionModal.close()" >×</div>
  <h3>Confirm action</h3>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-error" ng-show="teamDeletionModal.errors">
        <button class="close" ng-click="teamDeletionModal.errors=''">×</button>
        <ul>
          <li ng-repeat="error in teamDeletionModal.errors">{{error}}</li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12">
      <p class="align-center">
        Are you really sure you want to remove {{teamDeletionModal.team.name}}?
      </p>
    </div>
  </div>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-shaded" ng-click="teamDeletionModal.close()" ng-show="!teamDeletionModal.isLoading">Cancel</button>
      <button class="btn btn-danger" ng-click="teamDeletionModal.proceed()" ng-show="!teamDeletionModal.isLoading">Remove</button>
      <img ng-src="{{assetPath['loader-darkblue-bg.gif']}}" ng-show="teamDeletionModal.isLoading" alt="Loading">
    </div>
  </div>
</div>