// Material Design Extensions
// TODO: color values are currently harcoded - need to align with theme

//-------------------------------------------
// Toolbar
//-------------------------------------------

// Neutral style
md-toolbar.neutral {
  background: #f2f2f2 !important;
  color: #616161;
  border-bottom: 1px solid #e5e5e5;
}

md-toolbar.success {
  background: @brand-success !important;
  color: darken(@brand-success,40%);
  border-bottom: 1px solid darken(@brand-success,20%);
}