.registration-material  
  .action-box{ layout: "row", 'layout-align' => "center center" }
    %md-content.md-whiteframe-z1{ "layout-padding" => "", flex: '33' }
      %div{ layout: 'row', 'layout-align' => 'center center' }
        %h2 Sign Up
  
      %div{ layout: 'column' }
        = render "mno_enterprise/auth/registrations/material/form"
        %hr
        = render "mno_enterprise/auth/shared/links"