<div class="modal-add">
  <div class="modal-header">
    <div class="close" type="button" ng-click="close()" >×</div>
    <h3>Add New Widget</h3>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-error" ng-show="errors">
          <button class="close" ng-click="errors=''">×</button>
          <ul>
            <li ng-repeat="error in errors">{{error}}</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Create a new widget -->
    <p>Select the widget you want to add to your dashboard:</p>

    <div class="panel-group widgets-panel" id="widgetMainCategories" role="tablist" aria-multiselectable="false">

      <div class="panel panel-default">

        <div class="panel-heading" role="tab" id="accounting" data-toggle="collapse" data-parent="#widgetMainCategories" aria-expanded="true" aria-controls="accountingWidgets" href="#accountingWidgets">
          <h1 class="panel-title">Accounting</h1>
        </div>

        <div id="accountingWidgets" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="accounting">
          <div class="panel-body">
            <div ng-repeat="widgetPattern in widgetsList" ng-if="isAccount(widgetPattern.path)" ng-click="proceed(widgetPattern.path)" class="col-xs-6 col-sm-3 widget" align="center" tooltip-trigger="mouseenter" tooltip-placement="top" tooltip="{{widgetPattern.desc}}" tooltip-animation="false">
              <div class="icon">
                <i class="fa fa-{{widgetPattern.icon}} fa-3x"></i>
              </div>
              <label>{{widgetPattern.name}}</label>
            </div>
          </div>
        </div>

      </div>

      <div class="panel panel-default">

        <div class="panel-heading" role="tab" id="invoices" data-toggle="collapse" data-parent="#widgetMainCategories" aria-expanded="true" aria-controls="invoicesWidgets" href="#invoicesWidgets">
          <h1 class="panel-title">Invoices</h1>
        </div>

        <div id="invoicesWidgets" class="panel-collapse collapse" role="tabpanel" aria-labelledby="invoices">
          <div class="panel-body">
            <div ng-repeat="widgetPattern in widgetsList" ng-if="isInvoices(widgetPattern.path)" ng-click="proceed(widgetPattern.path, widgetPattern.metadata)" class="col-xs-6 col-sm-3 widget" align="center" tooltip-trigger="mouseenter" tooltip-placement="top" tooltip="{{widgetPattern.desc}}" tooltip-animation="false">
              <div class="icon">
                <i class="fa fa-{{widgetPattern.icon}} fa-3x"></i>
              </div>
              <label>{{widgetPattern.name}}</label>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="modal-footer">
    <div class="row">
      <div class="col-sm-12 text-center">
        <img ng-src="{{loadingGif}}" ng-show="isLoading" alt="Loading">
        <button class="btn btn-shaded" ng-click="close()" ng-disabled="isLoading" style="position: absolute; right: 20px;">Cancel</button>
      </div>
      
    </div>
  </div>
</div>