.registration
  .container
    .row
      //.col-md-6.col-md-offset-3
      .login-box-wrapper
        .login-box-title
          %h2 Sign In
        .login-box
          .brand-logo
          = render "form"
          %hr
          = render "devise/shared/links"
