.header {
  display: block;
  width: 100%;

  margin-bottom: 40px;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}
.header img{
  display: block;
  margin: 0 auto;
  max-height: 120px;
}

.footer {
  margin-top: 40px;
  padding: 10px 0 0;

  text-align: right;
  font-size: 15px;
  
  color: #666;
  border-top: 1px solid #ccc;
}
