.registration
  .container
    .row
      //.col-md-6.col-md-offset-3
      .login-box-wrapper
        .login-box-title
          %h2= t('mno_enterprise.auth.confirmations.show.title')
        .login-box
          %img.brand-logo{src: asset_path('mno_enterprise/main-logo.png')}
          = render "mno_enterprise/auth/confirmations/form"
