<!-- Autostop App Modal-->
<div>
  <script type="text/ng-template" id="internal-autostop-modal.html">
    <div style="margin-top:0;" class="autostop-app-modal">
      <!-- Modal Header -->
      <div class="modal-header">
        <h3>
          {{autostopModal.title}}
        </h3>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <div class="alert alert-error" ng-show="autostopModal.errors">
          <button class="close" ng-click="autostopModal.errors=''">×</button>
          <ul>
            <li ng-repeat="error in autostopModal.errors">{{error}}</li>
          </ul>
        </div>
        <br/>
        <h4 class="align-center">Please offline my app if idle for more than:</h4>
        <br/>
        <table class="table table-bordered table-duration">
          <tr>
            <td ng-repeat="duration in autostopModal.availableDurations()" class="seletable" ng-class="autostopModal.classFor(duration)" ng-click="autostopModal.select(duration)">
              {{duration}}
            </td>
            <td class="type"><b>hours</b></td>
          </tr>
        </table>
        <p class="align-center" ng-bind-html="autostopModal.text()"></p>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button class="btn btn-whited" ng-click="autostopModal.close()" ng-show="!autostopModal.inProgress">Leave default (1h)</button>
        <button class="btn btn-warning" ng-click="autostopModal.proceed()" ng-disabled="!autostopModal.proceedEnabled()" ng-show="!autostopModal.inProgress">Change</button>
        <img ng-src="{{assetPath['loader.gif']}}" ng-show="autostopModal.inProgress" alt="Loading"/>
      </div>
    </div>
  </script>
</div>
