<div class="row" style="margin:0px;">
	
	<div class="col-md-9" style="padding: 0px 2px;">
		<div class="input-group text-left" style="width: 100%;">
			<label>Password</label>
			<br />
			
			<input mno-password-strength password-score="baseObject.$pwdScore" type="{{isShown ? 'text' : 'password'}}", name="{{fieldName}}", ng-model="baseObject.password" ng-change="check()" class="input-group-addon" style="width: 70%;" placeholder="*Choose Password" required/>
			<span class="input-group-addon pw-strength-indicator" ng-class='baseObject.$pwdScore.class' style="display: inline;">
	      {{ baseObject.$pwdScore.value }}
    	</span>
    </div>
	</div>

	<div class="col-md-3 text-center" style="padding: 0px 2px;">
		<label>Show</label>
		<br />
		<input type="checkbox" ng-model="isShown" />
	</div>

</div>

<div class="spacer1" />

<div class="row text-left" style="margin:0px;">
  <div class="col-sm-6" style="padding: 0px 2px;">
    <ul style="list-style: none; padding-left: 20px;">
      <li ng-class="hasEightChars ? 'checked' : 'unchecked'">
        <i class="fa fa-check-circle" ng-show="hasEightChars" />
        <i class="fa fa-times-circle" ng-hide="hasEightChars" />
        Eight characters minimum
      </li>
      <li ng-class="hasOneNumber ? 'checked' : 'unchecked'">
        <i class="fa fa-check-circle" ng-show="hasOneNumber" />
        <i class="fa fa-times-circle" ng-hide="hasOneNumber" />
        One number
      </li>
    </ul>
  </div>
  
  <div class="col-sm-6 text-left" style="padding: 0px 2px;">
    <ul style="list-style: none; padding-left: 20px;">
      <li ng-class="hasOneUpper ? 'checked' : 'unchecked'">
        <i class="fa fa-check-circle" ng-show="hasOneUpper" />
        <i class="fa fa-times-circle" ng-hide="hasOneUpper" />
        One uppercase character
      </li>
      <li ng-class="hasOneLower ? 'checked' : 'unchecked'">
        <i class="fa fa-check-circle" ng-show="hasOneLower" />
        <i class="fa fa-times-circle" ng-hide="hasOneLower" />
        One lowercase character
      </li>
    </ul>
  </div>
</div>