<!-- Override default Bootstrap UI accordion template -->
<script id="template/accordion/accordion-group.html" type="text/ng-template">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <div class="accordion-toggle" ng-click="toggleOpen()" accordion-transclude="heading"><span ng-class="{'text-muted': isDisabled}">{{heading}}</span></div>
      </h4>
    </div>
    <div class="panel-collapse" collapse="!isOpen">
  	  <div class="panel-body" ng-transclude></div>
    </div>
  </div>
</script>

<div class="container-fluid shopping-cart">
  <!-- Modal Header -->
  <div class="modal-header">
    <div class="close" type="button" ng-click="modal.close()" >×</div>
    
    <div class="row">

      <div class='col-md-12' ng-show="cartSvc.state.subStep == 'signup'">Sign Up - FREE Trial - No Obligation</div>
      <div class='col-md-12' ng-show="cartSvc.state.subStep == 'signin'">Sign In</div>
      
      <div class='col-md-12' ng-show="modal.funnel.isShown()">
        <div class="funnel">
          
          <div class='step funnel-title left'>
            Checkout
          </div>
          <div class='step left' ng-class="modal.funnel.classForStep(1)">
            <div class='wrapper'>
              <div class='arrow'></div>
            </div>
            1
            <span class='hidden-xs hidden-sm'>- Apps<span>
          </div>
          <div class='step' ng-class="modal.funnel.classForStep(2)">
            <div class='wrapper'>
              <div class='arrow'></div>
            </div>
            2
            <span class='hidden-xs hidden-sm'>- Support<span>
          </div>
          <div class='step' ng-class="modal.funnel.classForStep(3)">
            <div class='wrapper'>
              <div class='arrow'></div>
            </div>
            3
            <span class='hidden-xs hidden-sm'>- Services<span>
          </div>
          <div class='step right' ng-class="modal.funnel.classForStep(4)">
            4
            <span class='hidden-xs hidden-sm'>- Summary<span>
          </div>
          
          <!-- End: funnel -->
        </div>
        
        <!-- End: col -->
      </div>
      
      <!-- End: Row -->
    </div>
    
    
    <!-- End: Modal Header -->
  </div>

  <!-- Modal Body -->
  <div class="modal-body">
  
  
    <!-- 
      Error messages 
    -->
    <div class="alert alert-error" ng-show="modal.errors">
      <button class="close" ng-click="modal.errors=''">×</button>
      <ul>
        <li ng-repeat="error in modal.errors">{{error}}</li>
      </ul>
    </div>
    
    <!-- 
      Loading Content
    -->
    <div ng-show="modal.isLoading()">
      <div class="text-center" ng-show="modal.$loadingText">
        <h5>{{modal.$loadingText}}</h5>
      </div>
      <div class="text-center">
        <img ng-src="{{assetPath['mno_enterprise/loader-32x32-bg-main.gif']}}" alt="Loading"/>
      </div>
    </div>
    
    <!-- 
      Cart Content
    -->
    <div class="row" ng-show="!modal.isLoading()" >
      
      <!-- 
        Main Area
      -->
      <div ng-class="modal.mainAreaClass()" class="main-area">
        
        <!-- Steps Content -->
        <div ng-switch on="modal.currentStep()">
      
          <!-- 
            Step: identifyUser 
          -->
          <div ng-switch-when="identifyUser">
      
            <!-- Signin or signup? -->
            <div ng-switch on="modal.currentSubStep()">
        
              <!-- Sign In -->
              <div ng-switch-when="signin">
                <div class="row">
                  <div class="col-sm-6 col-sm-offset-3">
                    
                    <form name="forms.userSignin" novalidate class="form autofill-detect align-center" ng-init="launchpadModal.currentForm = userSigninForm;launchpadModal.forceIePlaceholders()">
                      <div class="form-group">
                        <input type="text" class='form-control' ng-model="modal.identifyUser.user.email" placeholder="*Email" required/>
                      </div>
                      <div class="form-group">
                        <input type="password" class='form-control' ng-model="modal.identifyUser.user.password" placeholder="*Password" required/>
                      </div>
                      
                    </div>
                
                  </div>
              
                </form>
          
                <small><a class="muted" href="" ng-click="modal.identifyUser.switchToSignUp()">New to Maestrano? Click here</a></small>
              </div>

              <!-- Sign Up -->
              <div ng-switch-default>
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-2">
                    
                <form name="forms.userSignup" novalidate class="form form-signup form-horizontal autofill-detect align-center" ng-init="launchpadModal.currentForm = userSignupForm; launchpadModal.forceIePlaceholders()">
                  
                  
                      <div class="row">
                        <div class="form-group">
                          <div class="col-sm-6">
                            <input type="text" class='form-control' ng-model="modal.identifyUser.user.name" placeholder="*First Name" required/>
                          </div>
                          
                          <div class="col-sm-6">
                            <input type="text" class='form-control' ng-model="modal.identifyUser.user.surname" placeholder="*Last Name" required/>
                          </div>
                        </div>
                      </div>
                      
                      <div class="row">
                        <div class="form-group">
                          <div class="col-sm-6">
                            <input type="text" class='form-control' ng-model="modal.identifyUser.user.email" placeholder="*Email" required/>
                          </div>
                          
                          <div class="col-sm-6">
                            <input type="text" class='form-control' ng-model="modal.identifyUser.user.company" placeholder="Company (optional)"/>
                          </div>
                        </div>
                      </div>
                      
                      <div class="row">
                        <div class="form-group">
                          <div class="col-sm-6">
                            <select ng-model="modal.identifyUser.user.phone_country_code" ng-options="country.val as (country.val + ' +' + country.ext) for country in modal.validCountries()" class="form-control" style="min-width:176px;"></select>
                          </div>
                          
                          <div class="col-sm-6">
                            <input type="text" class='form-control' ng-model="modal.identifyUser.user.phone" placeholder="Phone (optional)"/>
                          </div>
                        </div>
                      </div>
                      
                      <div class="row">
                        <div class="form-group">
                          <div class="col-sm-6">
                            <div class="input-group">
                              
                              <input name="password" type="password" class='form-control' ng-model="modal.identifyUser.user.password" placeholder="*Password" ng-minlength="6" mno-password-strength password-score='modal.identifyUser.user.$pwdScore' required/>
                              <span class="input-group-addon pw-strength-indicator" ng-class="modal.identifyUser.user.$pwdScore.class">{{modal.identifyUser.user.$pwdScore.value}}</span>
                            </div>
                            <small ng-show='modal.identifyUser.user.$pwdScore.showTip' class="text-danger">Password is not strong enough. Try mixing letters, numbers and cases</small>
                          </div>
                          
                          <div class="col-sm-6">
                            <input class='form-control' name="password_confirmation" id="password_confirmation" type="password" ng-model="modal.identifyUser.user.password_confirmation" mno-match="modal.identifyUser.user.password" placeholder="*Confirm Password" required/>
                          </div>
                        </div>
                      </div>
                      
                      
                      <div class="row tos">
                        <span class="star">*</span>
                        <input name="tos" ng-model="acceptTos" style="margin-top: -3px;" type="checkbox" value="accept" required>
                        I accept the
                        <a href="/terms" target="_blank">Terms of Use</a>
                      </div>
                      
                      </form>
                      
                      <!-- End Col -->
                    </div>
                    <!-- End Row -->
                  </div>
                  
                
          
                <small><a href="" ng-click="modal.identifyUser.switchToSignIn()">Already a customer? Click here</a></small>
              </div>
            </div>
          </div>
      
      
      
          <!-- 
            Step: selectOrga 
          -->
          <div ng-switch-when="selectOrga" class="choose-orga frame">
            <div ng-switch on="modal.currentSubStep()">
          
              <div ng-switch-when="loading">
                <div class="text-center">
                  <img ng-src="{{assetPath['mno_enterprise/loader-32x32-bg-main.gif']}}" alt="Loading"/>
                </div>
              </div>
          
              <div ng-switch-default>
                <div class="row">
                  <div class="text-center">
                    <h3>Select an organization</h3>
                  </div>
                </div>
                
                <div class="row">
                  <form name="selectOrgaForm" novalidate class="form form-horizontal align-center">
                    <div class="col-md-6 col-md-offset-3">
                      <div class="form-group">
                        <select ng-model="modal.selectOrga.organization" ng-options="org.name for org in modal.selectOrga.organizations track by org.id" class="form-control" style="min-width:176px;"></select>
                      </div>
                    </div>
                    
                  </form>
                </div>
                
                <div class="row">
                  <p class="text-purple text-center" ng-show="!modal.selectOrga.isUserAuthorized()">
                    Unfortunately you do not have permission to purchase products for this organization
                  </p>
                </div>
              </div>
          
            </div>
          </div>
          
          <!-- 
            Step: chooseApps 
          -->
          <div ng-switch-when="chooseApps" class="choose-apps frame dark-frame">
            
            <!-- List app cards -->
            <div ng-repeat="appInstance in modal.chooseApps.appInstances()">
              
              <div class="row app-card">
                <div class="close" type="button" ng-click="modal.chooseApps.removeAppInstance(appInstance)" >×</div>
                
                <div class="app-card-header">
                  <div class="media">
                    <a class="pull-left" href="#">
                      <img class="media-object" ng-src="{{ appInstance.$app.logo }}" alt="{{ appInstance.$app.name }}">
                    </a>
                    <div class="media-body">
                      <form role="form" class="form-horizontal inverse">
                        <div class="form-group">
                          <div class="col-md-8">
                            <select ng-model="appInstance.$app" ng-options="app.name for app in modal.chooseApps.apps track by app.id" class="form-control"></select>
                            <div class="select fa fa-caret-down"></div>
                          </div>
                      </div>
                      </form>
                    </div>
                  </div>
                </div>
                
                <div class="app-card-body" ng-show="modal.chooseApps.isDetailedPricingShown(appInstance)">
                  <form role="form" class="form-horizontal inverse">
                    <div class="form-group">
                      <label class="col-sm-4 control-label">Select your Plan</label>
                      <div class="col-sm-8">
                        <select ng-model="appInstance.$size" ng-options="plan for plan in appInstance.$app.sizes" class="form-control"></select>
                        <div class="select fa fa-caret-down"></div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-4 control-label">Select your Billing</label>
                      <div class="col-sm-8">
                        <select ng-model="appInstance.$billing" ng-options="size for size in appInstance.$app.billings" class="form-control"></select>
                        <div class="select fa fa-caret-down"></div>
                      </div>
                    </div>
                  </form>
                </div>

                <div class="app-card-body" ng-show="modal.chooseApps.isCountryListShown(appInstance)">
                  <form role="form" class="form-horizontal inverse">
                    <div class="form-group">
                      <label class="col-sm-4 control-label">Select your Country</label>
                      <div class="col-sm-8">
                        <select class="form-control" ng-model="appInstance.$country" ng-options="country.val as country.label for country in modal.ccDetails.config.validCountries" required>
                          <option value='' disabled selected style='display:none;'>-- SELECT --</option>
                        </select>
                        <div class="select fa fa-caret-down"></div>
                      </div>
                    </div>
                  </form>
                </div>
 
                <!-- Confirm changes on app -->
                <div class="app-card-footer" ng-show="!modal.chooseApps.appUnchanged(appInstance)">
                  <form role="form" class="form-inline pull-right">
                    <button ng-click="modal.chooseApps.cancelChange(appInstance)" href="" class="btn btn-sm btn-shaded">cancel</button>
                    <button ng-click="modal.chooseApps.confirmChange(appInstance)" href="" class="btn btn-sm btn-success">confirm</button>
                  </form>
                </div>
                
              </div>
              <!-- End: List app cards -->
            </div>
            
            <div class="row">
              <div class="add-app-card">
                <a href="" ng-click="modal.chooseApps.addAppInstance()"><b>+</b> Add another app</a>
              </div>
            </div>
            
            <!-- End: step chooseApps -->
          </div>
          
          
          
          <!-- 
            Step: chooseDeal 
          -->
          <div ng-switch-when="chooseDeal" class="choose-deal frame dark-frame">
            <div class="row">
              <div class="text-center">
                <h3>Ready to buy now?</h3>
              </div>
            </div>
            
            <div class="row">
              <div class="col-sm-6">
                <div class="deal-card">
                  <div class="deal-card-header">
                    <h3>Save 15%</h3>
                    <h4><small>When you pay 6 months up front</small></h4>
                  </div>
                  <div class="deal-card-body">
                    <button class="btn btn-lg btn-warning" href="" ng-click="modal.chooseDeal.selectDeal('new_6_month_prepay')">
                      Add to Checkout
                    </button>
                  </div>
                </div>
              </div>
              
              <div class="col-sm-6">
                <div class="deal-card">
                  <div class="deal-card-header">
                    <h3>Save 30%</h3>
                    <h4><small>When you pay 12 months up front</small></h4>
                  </div>
                  <div class="deal-card-body">
                    <button class="btn btn-lg btn-warning" href="" ng-click="modal.chooseDeal.selectDeal('new_12_month_prepay')">
                      Add to Checkout
                    </button>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row text-center">
              <div class="skip-button-wrapper">
                <button class="btn btn-lg btn-info" ng-click="modal.chooseDeal.skipDeal()">
                  No Thanks
                </button>
              </div>
            </div>
            
            <!-- End: step chooseDeal -->
          </div>
          
          
          <!-- 
            Step: chooseSupport
          -->
          <div ng-switch-when="chooseSupport" class="choose-support frame dark-frame">
            
            <div accordion class="accordion inverse">
              
              <div accordion-group is-open="isStdOpen">
                  <div accordion-heading>
                      Standard <span ng-class="{'caret-down': isStdOpen, 'caret-up': !isStdOpen}"></span>
                      
                      <div class="pull-right" ng-switch on="modal.chooseSupport.statusFor('standard')">
                        <div ng-switch-when="owned">
                          <a href="" class="btn btn-shaded" ng-disabled="true">Current</a>
                        </div>
                        
                        <div ng-switch-when="selected">
                          <a href="" class="btn btn-danger" ng-click="modal.chooseSupport.removePlan('standard')">Cancel</a>
                        </div>
                        
                        <div ng-switch-default>
                          <a href="" class="btn btn-warning" ng-click="modal.chooseSupport.selectPlan('standard')">Select</a>
                        </div>
                      </div>
                      
                      <span class="text-muted pull-right">FREE</span>
                  </div>
                  
                  <div class="accordion-content">
                    <div class="accordion-content-header"><h3>FREE</h3></div>
                    <ul class='support-feature-list'>
                      <li><i class="fa fa-check"></i>Knowledge Center</li>
                      <li><i class="fa fa-check"></i>Online Chat, Email and Phone Support</li>
                      <li><i class="fa fa-check"></i>Technical Support via Ticketing (12 hour response)</li>
                      <li><i class="fa fa-check"></i>Access to video tutorials, webinars</li>
                      <li><i class="fa fa-times"></i>Guaranteed turnaround for general support</li>
                      <li><i class="fa fa-times"></i>Success coaching</li>
                      <li><i class="fa fa-times"></i>Personal Account Manager</li>
                      <li><i class="fa fa-times"></i>Custom training sessions</li>
                    </ul>
                  </div>
              </div>
              
              <div accordion-group is-open="isPrtyOpen">
                  <div accordion-heading>
                      Priority <span ng-class="{'caret-down': isPrtyOpen, 'caret-up': !isPrtyOpen}"></span>
                      
                      <div class="pull-right" ng-switch on="modal.chooseSupport.statusFor('priority')">
                        <div ng-switch-when="owned">
                          <a href="" class="btn btn-shaded" ng-disabled="true">Current</a>
                        </div>
                        
                        <div ng-switch-when="selected">
                          <a href="" class="btn btn-danger" ng-click="modal.chooseSupport.removePlan('priority')">Cancel</a>
                        </div>
                        
                        <div ng-switch-default>
                          <a href="" class="btn btn-warning" ng-click="modal.chooseSupport.selectPlan('priority')">Select</a>
                        </div>
                      </div>
                      
                      <span class="text-muted pull-right">$79/mo</span>
                  </div>
                  <div class="accordion-content">
                    <div class="accordion-content-header"><h3>$79/mo</h3></div>
                    <ul class='support-feature-list'>
                      <li><i class="fa fa-check"></i>Knowledge Center (72 hour turnaround for requests)</li>
                      <li><i class="fa fa-check"></i>Online Chat, Email and Phone Support</li>
                      <li><i class="fa fa-check"></i>Technical Support via Ticketing (Next Bus. Day for response)</li>
                      <li><i class="fa fa-check"></i>Access to video tutorials, webinars</li>
                      <li><i class="fa fa-check"></i>Next Business day turnaround for general support</li>
                      <li><i class="fa fa-check"></i>Success coaching ($100/hour)</li>
                      <li><i class="fa fa-times"></i>Personal Account Manager</li>
                      <li><i class="fa fa-times"></i>Custom training sessions</li>
                    </ul>
                  </div>
              </div>
              
              <div accordion-group is-open="isCrgeOpen">
                  <div accordion-heading>
                      Concierge <span ng-class="{'caret-down': isCrgeOpen, 'caret-up': !isCrgeOpen}"></span>
                      
                      <div class="pull-right" ng-switch on="modal.chooseSupport.statusFor('concierge')">
                        <div ng-switch-when="owned">
                          <a href="" class="btn btn-shaded" ng-disabled="true">Current</a>
                        </div>
                        
                        <div ng-switch-when="selected">
                          <a href="" class="btn btn-danger" ng-click="modal.chooseSupport.removePlan('concierge')">Cancel</a>
                        </div>
                        
                        <div ng-switch-default>
                          <a href="" class="btn btn-warning" ng-click="modal.chooseSupport.selectPlan('concierge')">Select</a>
                        </div>
                      </div>
                      
                      <span class="text-muted pull-right">$199/mo</span>
                  </div>
                  
                  <div class="accordion-content">
                    <div class="accordion-content-header"><h3>$199/mo</h3></div>
                    <ul class='support-feature-list'>
                      <li><i class="fa fa-check"></i>Knowledge Center (12 hour turnaround for requests)</li>
                      <li><i class="fa fa-check"></i>Online Chat, Email and Phone Support</li>
                      <li><i class="fa fa-check"></i>Technical Support via Ticketing (12 hour response)</li>
                      <li><i class="fa fa-check"></i>Access to video tutorials, webinars</li>
                      <li><i class="fa fa-check"></i>12 hour turnaround for general support</li>
                      <li><i class="fa fa-check"></i>Success coaching ($89/hour)</li>
                      <li><i class="fa fa-check"></i>Personal Account Manager</li>
                      <li><i class="fa fa-check"></i>1 online custom training sessions per 6 months</li>
                    </ul>
                  </div>
              </div>
              
            </div>
            
            <!-- End: step chooseSupport -->
          </div>
          
          
          <!-- 
            Step: chooseExtras 
          -->
          <div ng-switch-when="chooseExtras" class="choose-extras frame dark-frame">
            
            <div accordion class="accordion inverse">
              
              <div ng-repeat="extra in modal.chooseExtras.templates" accordion-group is-open="isOpen">
                  <div accordion-heading>
                      {{ extra.$label }}<span ng-class="{'caret-down': isOpen, 'caret-up': !isOpen}"></span>
                      <a href="" class="btn btn-warning pull-right" ng-click="modal.chooseExtras.add(extra)" ng-show="!modal.chooseExtras.isAdded(extra)">Add</a>
                      <a href="" class="btn btn-danger pull-right" ng-click="modal.chooseExtras.remove(extra)" ng-show="modal.chooseExtras.isAdded(extra)">Remove</a>
                      <span class="text-muted pull-right">{{ extra.$price }}</span>
                  </div>
                  
                  <div class="accordion-content">
                    <p>{{ extra.$description }}</p>
                  </div>
              </div>
              
            </div>
            
            <!-- End: step chooseExtras -->
          </div>
          
          
          
          <!-- 
            Step: orderSummary 
          -->
          <div ng-switch-when="orderSummary" class="order-summary frame dark-frame">
            
            <div class="order-list">
          
              <div class="order-list-header">
                <h4>Your Order</h4>
              </div>
          
              <!-- Monthly Billing Items -->
              <div class="row">
                <div class="order-list-body" ng-show="modal.sideOrder.showItemsFor('monthly')">
                  <h4><small>Monthly items</small></h4>
                  <table class="table item-list">
                    <tr ng-repeat="item in modal.sideOrder.getItemsFor('monthly')">
                      <td>{{item.label}}</td>
                      <td>{{formatMoney(item.price)}}/month</td>
                    </tr>
                  </table>
                </div>
              </div>
        
              <!-- Hourly Billing Items -->
              <div class="row">
                <div class="order-list-body" ng-show="modal.sideOrder.showItemsFor('pay_as_you_go')">
                  <h4><small>Pay as you go</small></h4>
                  <table class="table item-list">
                    <tr ng-repeat="item in modal.sideOrder.getItemsFor('hourly')">
                      <td>{{item.label}}</td>
                      <td>{{formatMoney(item.price)}}/hour</td>
                    </tr>
                    <tr ng-repeat="item in modal.sideOrder.getItemsFor('variable')">
                      <td>{{item.label}}</td>
                      <td><em>Usage based</em></td>
                    </tr>
                    <tr ng-repeat="item in modal.sideOrder.getItemsFor('external')">
                      <td>{{item.label}}</td>
                      <td><em>Billed by provider</em></td>
                    </tr>
                  </table>
                </div>
              </div>
        
              <!-- Adhoc Billing Items -->
              <div class="row">
                <div class="order-list-body" ng-show="modal.sideOrder.showItemsFor('adhoc')">
                  <h4><small>Items payable now</small></h4>
                  <table class="table item-list">
                    <tr ng-repeat="item in modal.sideOrder.getItemsFor('adhoc')">
                      <td>{{item.label}}</td>
                      <td ng-if="modal.sideOrder.isStarterPack()">{{ modal.sideOrder.total('upfrontRaw') }}</td>
                      <td ng-if="!modal.sideOrder.isStarterPack()">{{ formatMoney(item.price) }}</td>
                    </tr>
                  </table>
                </div>
              </div>
              
              <!-- End: order-list -->
            </div>
            
            
            <!-- <div class="row references-section">
              <div class="col-xs-6 col-xs-offset-6">
                <div><small>Partner Code</small></div>
                <form role="form" class="form-inline">
                  <div class="form-group">
                    <input class="form-control" type="text">
                  </div>
                  <button class="btn btn-warning">Apply</button>
                </form>
              </div>
            </div> -->
            <!-- End: step orderSummary -->
          </div>
          
          
          
          <!-- 
            Step: ccDetails 
          -->
          <div ng-switch-when="ccDetails" class="cc-details frame dark-frame">
            
            <!-- Payment Details -->
            <h4 class="cc-header-eft"><em>Prefer to pay via bank transfer? <a href="/electronic-fund-transfer" target="_blank">Just click here</a></em></h4>
            <h4 class="cc-header">Enter Payment details</h4>
            
            <form name="ccViewForm" role="form" novalidate class="form-horizontal inverse">
              
              <div class="form-group cc-icons">
                <div class="col-xs-6">
                  <span class="glyphicon icon-mno-cc-visa" ng-class="modal.ccDetails.classForIconType('visa')"></span>
                  <span class="glyphicon icon-mno-cc-mastercard" ng-class="modal.ccDetails.classForIconType('mastercard')"></span>
                  <span class="glyphicon icon-mno-cc-amex" ng-class="modal.ccDetails.classForIconType('amex')"></span>
                  <span class="glyphicon icon-mno-cc-jcb" ng-class="modal.ccDetails.classForIconType('jcb')"></span>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-3 control-label">Title</label>
                <div class="col-sm-4">
                  <select class="form-control" ng-model="modal.ccDetails.model.title" ng-options="label for label in modal.ccDetails.config.validTitles" required>
                    <option value='' disabled selected style='display:none;'>-- SELECT --</option>
                  </select>
                  <div class="select fa fa-caret-down"></div>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-3 control-label">Name on card</label>
                
                <div class="col-sm-4">
                  <input type="text" class="form-control" placeholder="Name" ng-model="modal.ccDetails.model.first_name" required/>
                </div>
                <div class="col-sm-5">
                  <input type="text" class="form-control" placeholder="Surname" ng-model="modal.ccDetails.model.last_name"  required/>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-3 control-label">Card Number</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="modal.ccDetails.model.number" required/>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-3 control-label">CVV</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" ng-model="modal.ccDetails.model.verification_value" required/>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-3 control-label">Country</label>
                <div class="col-sm-9">
                  <select class="form-control" ng-model="modal.ccDetails.model.country" ng-options="country.val as country.label for country in modal.ccDetails.config.validCountries" required>
                    <option value='' disabled selected style='display:none;'>-- SELECT --</option>
                  </select>
                  <div class="select fa fa-caret-down"></div>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-6 control-label">Expiry Date - Month</label>
                <label class="col-sm-6 control-label">Expiry Date - Year</label>
              </div>
              
              <div class="form-group">
                <div class="col-sm-6">
                  <select class="form-control" ng-model="modal.ccDetails.model.month" ng-options="label for label in modal.ccDetails.config.validMonths" required>
                    <option value='' disabled selected style='display:none;'>-- SELECT --</option>
                  </select>
                  <div class="select fa fa-caret-down"></div>
                </div>
                
                <div class="col-sm-6">
                  <select class="form-control" ng-model="modal.ccDetails.model.year" ng-options="label for label in modal.ccDetails.config.validYears" required>
                    <option value='' disabled selected style='display:none;'>-- SELECT --</option>
                  </select>
                  <div class="select fa fa-caret-down"></div>
                </div>
              </div>
              
              <!-- End: Payment Details -->
            </form>
              
            <!-- Billing Address -->
            <h4 class="cc-header">Billing Address</h4>
            
            <form name="billingViewForm" novalidate class="form-horizontal inverse">
              
              <div class="form-group">
                <label class="col-sm-3 control-label">Street Address</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="modal.ccDetails.model.billing_address" required/>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-3 control-label">City</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" ng-model="modal.ccDetails.model.billing_city" required/>
                </div>
                
                <label class="col-sm-2 control-label">Postcode</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" ng-model="modal.ccDetails.model.billing_postcode" required/>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-3 control-label">Country</label>
                <div class="col-sm-9">
                  <select class="form-control" ng-model="modal.ccDetails.model.billing_country" ng-options="country.val as country.label for country in modal.ccDetails.config.validCountries" required>
                    <option value='' disabled selected style='display:none;'>-- SELECT --</option>
                  </select>
                  <div class="select fa fa-caret-down"></div>
                </div>
              </div>
              
              <!-- End: Billing Address -->
            </form>
            
            <!-- End: ccDetails-->
          </div>
          
          
          <!-- 
            Step: ccDetails 
          -->
          <div ng-switch-when="confirmScreen" class="confirm-screen frame">
            <div class="row">
              <p class="text-purple">Your order was processed successfully.</p>
            </div>
            
            <div class="row" ng-show="modal.confirmScreen.isInvoiceAvailable()">
              <p class="link-description">You can download your invoice by clicking on the link below</p>
              <a class="btn btn-warning" ng-href="{{modal.confirmScreen.pdfUrl()}}" target="_blank">Download</a>
              <div class="spacer2"></div>
            </div>

            <img ng-if="modal.confirmScreen.isStarterPack()" ng-src="https://shareasale.com/sale.cfm?amount={{modal.confirmScreen.total()}}&tracking={{modal.confirmScreen.userId()}}&transtype=sale&merchantID=57551" width="1" height="1">

            
            <!-- <div class="row">
              <a class="btn btn-info" href="" ng-click="modal.confirmScreen.finish()">Finish</a>
            </div> -->
          </div>
          
          
          <!-- End: ng-switch on currentStep -->
        </div>
      
        <!-- End: Main Area -->
      </div>
      
      
      
      <!--
        Side Area
      -->
      <div ng-class="modal.sideAreaClass()" ng-show="modal.isSideAreaShown()" class="side-area">
        
        <div class="side-area-header">
          <h4>Your Order</h4>
        </div>
        
        <!-- Steps Content -->
        <div ng-switch on="modal.sideOrder.currentMode()">
          
          <!-- List mode displays the current order -->
          <div ng-switch-when="list">
            
            <div class="row">
              <div class="col-xs-10 col-xs-offset-1">
                
                <div class="order-list">
                  <!-- Monthly Billing Items -->
                  <div class="row">
                    <div class="order-list-body" ng-show="modal.sideOrder.showItemsFor('monthly')">
                      <h4><small>Monthly items</small></h4>
                      <table class="table item-list">
                        <tr ng-repeat="item in modal.sideOrder.getItemsFor('monthly')">
                          <td>{{item.label}}</td>
                          <td>{{formatMoney(item.price)}}</td>
                        </tr>
                      </table>
                      <table class="table order-total">
                        <tr><td>Total Monthly</td><td>{{ modal.sideOrder.total('monthlyRaw') }}</td></tr>
                      </table>
                    </div>
                  </div>
        
                  <!-- Pay as you go Items -->
                  <div class="row">
                    <div class="order-list-body" ng-show="modal.sideOrder.showItemsFor('pay_as_you_go')">
                      <h4><small>Pay as you go</small></h4>
                      <table class="table item-list">
                        <tr ng-repeat="item in modal.sideOrder.getItemsFor('hourly')">
                          <td>{{item.label}}</td>
                          <td>{{formatMoney(item.price)}}/hour</td>
                        </tr>
                      </table>
                      <table class="table item-list">
                        <tr ng-repeat="item in modal.sideOrder.getItemsFor('variable')">
                          <td>{{item.label}}</td>
                          <td><em>Usage based</em></td>
                        </tr>
                      </table>
                      <table class="table item-list">
                        <tr ng-repeat="item in modal.sideOrder.getItemsFor('external')">
                          <td>{{item.label}}</td>
                          <td><em>Billed by provider</em></td>
                        </tr>
                      </table>
                    </div>
                  </div>
        
                  <!-- Adhoc Billing Items -->
                  <div class="row">
                    <div class="order-list-body" ng-show="modal.sideOrder.showItemsFor('adhoc')">
                      <h4><small>Items payable now</small></h4>
                      <table class="table item-list">
                        <tr ng-repeat="item in modal.sideOrder.getItemsFor('adhoc')">
                          <td>{{item.label}}</td>
                          <td>{{formatMoney(item.price)}}</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  
                  <!-- Adhoc Totals -->
                  <div class="row">
                    <table class="table order-total total-final">
                      <tr class="total-payable-raw" ng-show="modal.sideOrder.isPayableShown()">
                        <td>Payable Now</td><td>{{ modal.sideOrder.total('upfrontRaw') }}</td>
                      </tr>
                      <tr class="total-discount" ng-show="modal.sideOrder.isDiscountShown()">
                        <td>Discount</td><td>-{{ modal.sideOrder.total('upfrontSavings') }}</td>
                      </tr>
                      <tr class="total-credit" ng-show="modal.sideOrder.isCreditShown()">
                        <td>Support Credit</td><td>-{{ modal.sideOrder.total('supportCredit') }}</td>
                      </tr>
                      <tr class="total-payable">
                        <td>Total Payable Now</td><td>{{ modal.sideOrder.total('upfront') }}</td>
                      </tr>
                    </table>
                  </div>
                  
                  
                  <div class="row">
                    <div class="billing-status-notes">
                      <p ng-show="modal.sideOrder.isCoveredByFreeTrial()">
                        No payments required. Your order is covered by your free trial.
                      </p>
                      <p ng-show="modal.sideOrder.isBeyondFreeTrial()">
                        Some items are not eligible to free trial. You will be required to have valid billing details on your account.
                      </p>
                      <p ng-show="modal.sideOrder.isBillingDetailsRequired()">
                        Some items require valid billing details. We will ask you to enter or confirm your billing details at the end of the process.
                      </p>
                      <p ng-show="modal.sideOrder.isUpfrontPaymentRequired()">
                        A payment will be required at the end of this order. We will ask you to enter or confirm your billing details at the end of the process. 
                      </p>
                    </div>
                  </div>
                  
                </div>
                
                <!-- End: col -->
              </div>
              <!-- End: Row -->
            </div>
            
            
        
            <div class="row">
              <div class="col-md-6">
                <button ng-click="modal.back()" href="" class="btn btn-shaded btn-promo arrow-left" ng-disabled="modal.isBackDisabled()">
                  Back 
                </button>
              </div>
              <div class="col-md-6">
                <button ng-click="modal.next()" href="" class="btn btn-info btn-promo arrow" ng-enabled="modal.isNextDisabled()">
                  Next 
                </button>
              </div>
            </div>
            <!-- End: sideOrder Mode List -->
          </div>
          
          
          
          <!-- Summary mode displays the current order -->
          <div ng-switch-when="summary" class="summary">
            
            <div class="row">
              <div class="col-xs-8 col-xs-offset-2">
                
                <div class="row" ng-show="modal.sideOrder.isSavingsShown()">
                  <div class="summary-text">
                    <p>
                      You saved <span class="text-purple">{{ modal.sideOrder.setting('reductionPercent') }}%</span> with a {{ modal.sideOrder.setting('prepayMonths') }} month subscription
                    </p>
                  </div>
                </div>
            
                <div class="row text-center" ng-show="modal.sideOrder.isSavingsShown()">
                  <div class="total-savings">
                    Total saving of {{ modal.sideOrder.total('upfrontSavings') }}!
                  </div>
                </div>
            
                <div class="row">
                  <table class="table order-total">
                    <tr class="total-payable">
                      <td>Payable Now</td><td>{{ modal.sideOrder.total('upfront') }}</td>
                    </tr>
                    <tr class="total-tax" ng-show="modal.sideOrder.isTaxShown()">
                      <td>GST</td><td>{{ modal.sideOrder.total('upfrontTax') }}</td>
                    </tr>
                    <tr class="total-payable total-final" ng-show="modal.sideOrder.isTaxShown()">
                      <td>Total Payable</td><td>{{ modal.sideOrder.total('upfrontWithTax') }}</td>
                    </tr>
                  </table>
                </div>
            
                <div class="row">
                  <div class="proceed-btn-wrapper">
                    <button class="btn btn-info" ng-click="modal.next()">{{ modal.sideOrder.labelForCheckoutBtn() }}</button>
                  </div>
                </div>
                
                <div class="row">
                  <div class="back-link-wrapper">
                    <a href="" ng-hide="modal.sideOrder.isLocked()" ng-click="modal.back()">back to my order</a>
                  </div>
                </div>
                
              </div>
            </div>
            
            <!-- End: sideOrder Mode Summary -->
          </div>
          
          <!-- End: ngSwitch sideOrder Mode -->
        </div>
        
        
          
          
        
        <!-- End: Side Area -->
      </div>
      
      
      <!-- End: Cart Content -->
    </div>
  
  
  
  
    <!-- <div>Modal Content</div> -->
  </div>

  <!-- Modal Footer -->
  <div class="modal-footer" ng-show="!modal.isSideAreaShown()">
    <div class="row">
      <div class="col-md-12">
        <button ng-click="modal.next()" class="btn btn-info btn-promo arrow" ng-disabled="modal.isNextDisabled()">
          Next 
        </button>
      </div>
    </div>
   </div>
</div>
