<div class="row">
  <div class="col-xs-12">
    <h1><i class="fa fa-users"></i> User info</h1>
    <div class="panel panel-default top-buffer-2">
      <div class="panel-heading" ng-show="vm.user">
        <h3 ng-show="user.name && user.surname" class="panel-title">{{::vm.user.name}} {{::vm.user.surname}}</h3>
        <h3 ng-show="!user.name && !user.surname" class="panel-title">{{::vm.user.email}}</h3>
      </div>
      <div class="panel-body">
        <rd-loading ng-show="!vm.user"></rd-loading>
        <div ng-show="vm.user">
          <div class="bs-row row">
            <div class="col-md-3"><div class="label-cell">Email</div></div>
            <div class="col-md-3">{{::vm.user.email}}</div>
          </div>
          <div class="bs-row row">
            <div class="col-md-3"><div class="label-cell">UID</div></div>
            <div class="col-md-3">{{::vm.user.uid}}</div>
          </div>
          <div class="bs-row row">
            <div class="col-md-3"><div class="label-cell">Phone</div></div>
            <div class="col-md-3">{{vm.user.phone || '(none)'}}</div>
          </div>
          <div class="bs-row row">
            <div class="col-sm-3"><div class="label-cell">Admin role</div></div>
            <div class="col-sm-3">{{vm.user.admin_role || '(none)'}}</div>
          </div>
          <div class="bs-row row">
            <div class="col-sm-3"><div class="label-cell">Creation date</div></div>
            <div class="col-sm-3">{{vm.user.created_at | amCalendar }}</div>
          </div>
          <div class="bs-row row">
            <div class="col-sm-3"><div class="label-cell">Confirmed</div></div>
            <div class="col-sm-3">{{(vm.user.confirmed_at | amCalendar) || '(Not confirmed yet)'}}</div>
          </div>
          <div class="bs-row row">
            <div class="col-sm-3"><div class="label-cell">Last sign in</div></div>
            <div class="col-sm-3">{{(vm.user.last_sign_in_at | amCalendar) || '(Never signed in yet)'}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="bs-row">
      <div class="col-sm-4 col-sm-offset-4">
        <button class="btn btn-primary center-block"
          ng-click="vm.impersonateUser()">Log In as User</button>
      </div>
      <div class="col-sm-12 top-buffer-2">
        <mnoe-organizations-local-list list="vm.user.organizations" view="all"></mnoe-organizations-local-list>
      </div>
    </div>
  </div>
</div>
