<div ng-mouseenter="showCloseActive=true" ng-mouseleave="showCloseActive=false" class='delete-widget' ng-show="parentWidget.hasDeleteAbility">
  <button class="btn btn-close" ng-click="deleteWidget()">
  	<img ng-hide="showCloseActive" ng-src="{{closeWidgetButtonImage}}" />
  	<img ng-show="showCloseActive" ng-src="{{closeWidgetButtonImageActive}}" />
  </button>
</div>
<div ng-mouseenter="showEditActive=true" ng-mouseleave="showEditActive=false" class="edit-widget">  
  <button ng-class="'btn' + (parentWidget.isEditMode ? ' btn-editmode' : ' btn-edit')" ng-click="toogleEditMode()">
    <span class="fa fa-cog"></span>
  </button>
</div>