<div modal="modal.isOpen" bs-options="fade">
  <script type="text/ng-template" id="internal-message-modal.html">
    <!--Modal Header -->
    <div class="modal-header">
      <div class="close" type="button" ng-click="modal.close()" >×</div>
      <h3>{{modal.title()}}</h3>
    </div>

     <!--Modal Body -->
    <div class="modal-body">
      <div ng-include src="templateUrl()">
      </div>
    </div>

    <!--Modal Footer -->
    <div class="modal-footer">
      <button class="btn" ng-click="modal.close()">Close</button>
    </div>
  </script>
</div>
