.banners.promo.dark.darkblue
  .container
    .row.text-center
      = image_tag(main_logo_white_bg_path)
    .row
      %h2 App Access Not Granted
    %hr
    .row
      .col-md-6.col-md-offset-3
        .align-center
          %h3
            It looks like the administrator of this application has not granted you access.
          %p You should ask your administrator to share this application with you.
        .spacer4
        .align-center
          %h5
            If you think this is a mistake, please send us an email at
            = mail_to support_email
        .spacer4
