.registration
  .container
    .row
      .login-box-wrapper.large
        .login-box-title
          %h2 Billing Details Required
        .login-box
          .brand-logo

          .row
            .col-md-12
              .align-center
                %h3
                  Oops! It looks like the free trial has ended for this application and no billing details have been entered.
                %p Please ask your administrator to enter valid billing details for your company.
              .spacer4
              .align-center
                %h5
                  If you think this is a mistake, please send us an email at
                  = mail_to support_email
              .spacer4
