#create-step-1 {
  // 'checked' app in edit/add entity
  .app-icon {
    margin-bottom: 15px;

    .app-icon-wrapper {
      position: relative;

      .app-logo {
        width: 100%;
      }

      .checked {
        position: absolute;
        border-radius: 6px;
        background-color: rgba(47, 228, 50, 0.3);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        // Center the tick
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .app-title {
      text-align: center;
      margin-top: 5px;
      .ellipsis;
    }
  }
}
