<div id="create-step-1">
  <div class="row">
    <div class="col-xs-12">
      <h1>Create a new customer</h1>

      <form name="vm.form" novalidate>
        <rd-widget id="org-form" class="top-buffer-2">
          <rd-widget-header icon="fa-sitemap" title="Organisation details"></rd-widget-header>
          <rd-widget-body>
            <div class="flex-container flex-center">
              <div class="form-group flex-50">
                <label class="control-label" for="organization-name">Organisation name</label>
                <input id="organization-name" name="name" type="text" ng-model="vm.organization.name" class="form-control" required>
                <div ng-messages="vm.form.name.$error" role="alert" ng-if="vm.form.name.$dirty || vm.form.$submitted">
                  <p ng-message="required" class="text-danger">Name is required.</p>
                  <p ng-message="server" class="help-block">Name {{ main.errorHandler.errorMessage('name') }}</p>
                </div>
              </div>
            </div>
          </rd-widget-body>
        </rd-widget>

        <rd-widget class="top-buffer-2">
          <rd-widget-header icon="fa-rocket" title="Select your apps">
            <input type="text" ng-model="vm.appSearch" placeholder="Search" class="form-control input-sm search-bar">
          </rd-widget-header>
          <rd-widget-body loading="!vm.marketplace">
            <div class="row bs-row">
              <div class="col-xs-6 col-sm-3 col-lg-2 app-icon" ng-repeat="app in vm.marketplace.apps | filter:{name: vm.appSearch}">
                <div class="app-icon-wrapper" ng-click="vm.toggleApp(app)">
                  <div class="checked" ng-show="app.checked">
                    <i class="fa fa-check fa-5x"></i>
                  </div>
                  <img class="app-logo img-thumbnail" ng-src="{{::main.trustSrc(app.logo)}}" alt="{{::app.name}} logo" title="{{::app.tiny_description}}">
                </div>
                <div class="app-title">
                  {{::app.name}}
                </div>
              </div>
            </div>
          </rd-widget-body>
        </rd-widget>

        <button type="submit" class="btn btn-danger pull-right top-buffer-2" ng-click="vm.submitOrganisation()" ng-disabled="vm.isLoading">
          <span ng-show="vm.isLoading"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
          Create
        </button>
      </form>
    </div>
  </div>
</div>
