<div class="spacer2"></div>

<!-- Loading Icon -->
<div layout="row" layout-align="center center" ng-show="isLoading" style="height:300px;">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<!-- 
  Step 1: Fill additional company details
-->
<div ng-show="!isLoading && step == 1">
  <div layout="column" layout-align="center center">
    <h2>Hi {{user.name}}. Let's get you started...</h2>
    <h3>Tell us about your business so we can customise your experience</h3>
  </div>
  
  
  <div layout="row" layout-align="center center" style="margin-top: 20px;">
    <md-content layout-padding class="md-whiteframe-z1" flex="50">
        <div layout="row" layout-align="end center">
          <div class="md-toolbar-tools">
            <span flex></span>
            <md-button ng-click="skip()">Skip</md-button>
          </div>
          
        </div>
        
        <!-- Business Setup form-->
        <form name="userForm" flex>
          
          <div layout="row" style="margin-bottom:10px;">
            <md-select placeholder="Industry" ng-model="company.industry" style="width:100%;">
              <md-option ng-value="opt" ng-repeat="opt in lists.industries">{{opt}}</md-option>
            </md-select>
          </div>
    
          <md-input-container>
            <label>Company name</label>
            <input type="text" ng-model="company.name">
          </md-input-container>
    
          <p>My business is:</p>
          <md-radio-group ng-model="company.growth_type">
            <md-radio-button value="startup">Starting up</md-radio-button>
            <md-radio-button value="sme">Growing</md-radio-button>
            <md-radio-button value="agency">Ticking along</md-radio-button>
          </md-radio-group>
          
          <div layout="row" style="margin-bottom:10px;">
            <md-select placeholder="Number of employees" ng-model="company.employee_size" style="width:100%;">
              <md-option ng-value="opt.value" ng-repeat="opt in lists.sizes">{{opt.label}}</md-option>
            </md-select>
          </div>
          
          <br/>
          
          <div layout="row" layout-align="center center">
            <md-button class="md-raised md-accent" ng-click="next()">Done</md-button>
          </div>
        </form>
      
    </md-content>
  </div>
</div>


<!-- 
  Step 2: Connect existing apps 
-->
<div ng-show="!isLoading && !connectPane.shown && step == 2">
  <div layout="column" layout-align="center center">
    <h1>Do you currently use any business apps?</h1>
  </div>
  
  <!-- Skip or search -->
  <div layout="row" layout-align="center center" style="margin-top: 20px;">
    <div layout="row" layout-align="space-around center" layout-padding flex="50">
      
      <md-button ng-click="next()" flex="45">No, I don't have any apps</md-button>
      
      
      <md-input-container flex="45" class="md-icon-float">
        <label>Search for apps</label>
        <md-icon md-font-icon="fa fa-search" class="name" style='font-size: 22px; margin-top: -3px;'></md-icon>
        <input type="text" ng-model="locals.search" style="padding-top:14px;">
      </md-input-container>
      <span flex></span>
      
    </div>
  </div>
  
  <!-- My Apps section -->
  <div ng-show="myApps.length > 0">
    <div layout="row" layout-align="center center" style="margin-top: 40px;" >
      <div flex="50">
        <h3 style="margin-left: 8px;">My Existing Apps</h3>
      </div>
    </div>
  
    <div layout="row" layout-align="center center" ng-show="myApps.length > 0">
      <div layout="row" layout-align="start center" style="center" flex="50">
        <md-card class="md-raised md-img" ng-repeat="app in myApps track by $index" flex="15">
          <img ng-src="{{app.logo}}" class="md-card-image" ng-alt="{{app.name}}">
        </md-card>
      </div>
    </div>
  </div>
  
  <div layout="row" layout-align="center center" style="margin-top: 40px;">
    <div flex="50">
      <h3 style="margin-left: 8px;">Popular Apps</h3>
    </div>
  </div>
  
  <div layout="row" layout-align="center center">
    <div layout="row" layout-align="space-between center" style="center" flex="50">
      <md-button class="md-raised md-img" ng-repeat="app in popularApps().slice(0,5) track by $index" ng-click="connectApp(app)">
        <img ng-src="{{app.logo}}" class="md-card-image" ng-alt="{{app.name}}">
      </md-button>
    </div>
  </div>
  
  <div layout="row" layout-align="center center">
    <div layout="row" layout-align="space-between center" style="center" flex="50">
      <md-button class="md-raised md-img" ng-repeat="app in popularApps().slice(5,10) track by $index" ng-click="connectApp(app)">
        <img ng-src="{{app.logo}}" class="md-card-image" ng-alt="{{app.name}}">
      </md-button>
    </div>
  </div>
  
  <!-- Next Button -->
  <div class="spacer2"></div>
  <div layout="row" layout-align="center center">
    <md-button class="md-raised md-accent" ng-click="skip()">Done</md-button>
  </div>
</div>


<!-- 
  Step 2: App Connection Screen 
-->
<div ng-show="!isLoading && connectPane.shown && step == 2">
  <div layout="column" layout-align="center center">
    <h1>Securely Connect</h1>
  </div>
  
  <div layout="row" layout-align="center center" style="margin-top: 20px;">
    <md-content layout-padding class="md-whiteframe-z1" flex="33">
      <div layout="row" layout-align="center center">
        <img ng-src="{{connectPane.currentApp.logo}}" ng-alt="{{connectPane.currentApp.name}}" flex="30">
      </div>
      
      <md-input-container>
        <label>Username</label>
        <input type="text" ng-model="connectPane.currentApp._username">
      </md-input-container>
      
      <md-input-container>
        <label>Password</label>
        <input type="password" ng-model="connectPane.currentApp._password">
      </md-input-container>
      
      <div layout="row" layout-align="center center">
        <md-button class="md-raised md-accent" ng-click="connectPane.connect()">Connect Securely</md-button>
      </div>
      <div layout="row" layout-align="center center">
        <md-button class="md-mini" ng-click="connectPane.cancel()">Cancel</md-button>
      </div>
      
      <md-progress-linear md-mode="indeterminate" ng-show="connectPane.loading"></md-progress-linear>
      
    </md-content>
  </div>
</div>