- if devise_mapping.omniauthable? && MnoEnterprise.style.devise.omniauth_link_shown && resource_class.omniauth_providers.any?
  .sign-in-using
    = t('mno_enterprise.auth.shared.links.or_sign_in_using')
  .oauth-sso
    - resource_class.omniauth_providers.each do |provider|
      - if provider.to_s == 'intuit'
        = link_to "", omniauth_authorize_path(resource_name, provider), class: "omniauth intuit"
      - else
        = link_to(omniauth_authorize_path(resource_name, provider), class: "omniauth") do
          %i{class: "fa fa-#{provider}"}
