<div id="page-wrapper" ng-class="{'open': main.toggle}" ng-cloak>

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar">
      <li class="sidebar-main">
        <a ng-click="main.toggleSidebar()">
          Dashboard
          <span class="menu-icon glyphicon glyphicon-transfer"></span>
        </a>
      </li>
      <li class="sidebar-title"><span>NAVIGATION</span></li>
      <li class="sidebar-list">
        <a href="#/home">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
      </li>
      <li class="sidebar-list">
        <a href="#/finance">Finance <span class="menu-icon fa fa-money"></span></a>
      </li>
      <li class="sidebar-list">
        <a href="#/customers">Customers<span class="menu-icon fa fa-users"></span></a>
      </li>
      <li class="sidebar-list" ng-show="main.staffPageAuthorized.indexOf(main.user.admin_role)!=-1">
        <a href="#/staff">Staff <span class="menu-icon fa fa-wrench"></span></a>
      </li>
      <li class="sidebar-list">
        <a href="#/reviews">Comments <span class="menu-icon fa fa-comment"></span></a>
      </li>
    </ul>
    <!-- <div class="sidebar-footer">
      <div class="col-xs-4">
        <a href="#">
          Support
        </a>
      </div>
    </div> -->
  </div>
  <!-- End Sidebar -->

  <div id="content-wrapper">
    <div class="page-content">

      <!-- Header Bar -->
      <div class="row header">
        <div class="col-xs-12">
          <div class="user pull-right">
            <div class="item" uib-dropdown>
              <a href="#" uib-dropdown-toggle>
                <span>{{ main.user.name }} {{ main.user.surname }}</span>
                <img src="assets/images/avatar.jpg">
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="link">
                  <a href="/dashboard/">
                    Exit
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="meta">
            <div class="page">
              Admin Platform
            </div>
            <div class="breadcrumb-links">
              <div ncy-breadcrumb></div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Header Bar -->

      <!-- Main Content -->
      <div ui-view></div>

    </div><!-- End Page Content -->
  </div><!-- End Content Wrapper -->
</div><!-- End Page Wrapper -->
