<div class="row">
  <div ng-show="vm.invoices.currentBillingAmount" class="col-lg-3 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon orange pull-left">
          <i class="fa fa-file-text-o"></i>
        </div>
        <div class="title">{{vm.invoices.currentBillingAmount.amount | isoCurrency: vm.invoices.currentBillingAmount.currency}}</div>
        <div class="comment">Current billing</div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-exclamation-circle" title="Accounts in arrears"></rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Organisation</th>
                <th>UID</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a ui-sref="dashboard.home.organization({orgId: 9})">Marvel</a></td>
                <td>org-fbc1</td>
              </tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-file-text-o" title="Tenant invoices"></rd-widget-header>
      <rd-widget-body loading="!vm.invoices.tenantInvoices" classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Start</th>
                <th>End</th>
                <th>Revenue</th>
                <th>Commission</th>
                <th class="text-center">Paid</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="invoice in vm.invoices.tenantInvoices">
                <td>{{invoice.started_at | date: 'dd/MM/yyyy'}}</td>
                <td>{{invoice.ended_at | date: 'dd/MM/yyyy'}}</td>
                <td>{{invoice.total_commission_amount.value | isoCurrency: invoice.total_portfolio_amount.options.iso_code}}</td>
                <td>{{invoice.total_commission_amount.value | isoCurrency: invoice.total_commission_amount.options.iso_code}}</td>
                <td class="text-center">
                  <span ng-if="invoice.paid_at" class="text-success"><i class="fa fa-check"></i></span>
                  <span ng-if="!invoice.paid_at" class="text-danger"><i class="fa fa-times"></i></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
    <rd-widget>
  </div>
</div>
