<div class="row">
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-kpi class="kpi-color-1" description="Users" icon="fa-users" link="#/customers" link-text="{{vm.users.countNewLastMonth}} new this current month" loading="!vm.users.list" >
      <rd-kpi-body-number number="{{vm.users.list.length}}"><rd-kpi-body-number>
    </rd-kpi>
  </div>

  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-kpi class="kpi-color-2" description="Organizations" icon="fa-sitemap" link="#/customers" link-text="{{vm.organizations.countWithCC}} with a credit card" loading="!vm.organizations.list">
      <rd-kpi-body-number number="{{vm.organizations.list.length}}"><rd-kpi-body-number>
    </rd-kpi>
  </div>

  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-kpi class="kpi-color-3" description="Last customer invoicing" icon="fa-file-text-o" link="#/finance" loading="!vm.invoices.lastInvoicingAmount">
      <rd-kpi-body-currency amount="{{vm.invoices.lastInvoicingAmount.amount}}" currency="{{vm.invoices.lastInvoicingAmount.currency}}"><rd-kpi-body-currency>
    </rd-kpi>
  </div>

  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-kpi class="kpi-color-4" description="Still to be paid" icon="fa-money" link="#/finance" loading="!vm.invoices.outstandingAmount">
      <rd-kpi-body-currency amount="{{vm.invoices.outstandingAmount.amount}}" currency="{{vm.invoices.outstandingAmount.currency}}"><rd-kpi-body-currency>
    </rd-kpi>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <mnoe-users-list list="vm.users.list" view="last"></mnoe-users-list>
  </div>
  <div class="col-md-6">
    <mnoe-organizations-list list="vm.organizations.list" view="last"></mnoe-organizations-list>
  </div>
</div>
