<div id="user" class="row">
  <div class="col-xs-12">
    <h1><i class="fa fa-sitemap"></i> Organisation info</h1>
    <div class="panel panel-default top-buffer-2">
      <div class="panel-heading">
        <h3 class="panel-title">{{vm.organization.name}}</h3>
      </div>
      <div class="panel-body">
        <div class="bs-row row">
          <div class="col-md-3"><div class="label-cell">UID</div></div>
          <div class="col-md-3">{{vm.organization.uid}}</div>
        </div>
      </div>
    </div>
    <div class="bs-row">
      <div class="col-sm-4 col-sm-offset-4">
        <a class="btn btn-primary center-block">Impersonate</a>
      </div>
    </div>
  </div>
</div>
