<div id="user" class="row">
  <div class="col-xs-12">
    <h1>User infos</h1>
    <div class="panel panel-default top-buffer-2">
      <div class="panel-heading">
        <h3 class="panel-title">Alexandre Jarnoux</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3 label-cell">Email</div>
          <div class="col-sm-3">alex.jarnoux@gmail.com</div>
        </div>
        <div class="row">
          <div class="col-sm-3 label-cell">Creation date</div>
          <div class="col-sm-3">11/12/2014</div>
        </div>
        <div class="row">
          <div class="col-sm-3 label-cell">Confirmed</div>
          <div class="col-sm-3">True</div>
        </div>
      </div>
    </div>
    <div class="bs-row">
      <div class="col-sm-4 col-sm-offset-4">
        <a class="btn btn-primary center-block" href="/mnoe/impersonate/user/34">Impersonate</a>
      </div>
    </div>
  </div>
</div>
