- # JQuery
%script{ src: "//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" }

- # Angular
%script{ src: "//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js" }
%script{ src: "//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-sanitize.min.js" }
%script{ src: "//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.min.js" }
%script{ src: "//cdnjs.cloudflare.com/ajax/libs/angular-poller/0.4.2/angular-poller.min.js"}

- # Jquery Modules
%script{ src: "//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js" }
%script{ src: "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" }
%script{ src: "//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js" }
%script{ src: "//cdn.jsdelivr.net/g/json2@0.1,jquery.cookie@1.3.1,jquery.placeholder@2.0.7,lodash@3.10.1,momentjs@1.7.2,load-image@1.11.1,accounting.js@0.3.2"}
