.registration
  .container
    .row
      .login-box-wrapper
        .login-box-title
          %h2= t('mno_enterprise.auth.registrations.new.title')
        .login-box
          %img.brand-logo{src: asset_path('mno_enterprise/main-logo.png')}
          = render "mno_enterprise/auth/registrations/form"
          = render "mno_enterprise/auth/shared/omniauth"
          %hr
          = render "mno_enterprise/auth/shared/links"
