<div class="row">
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-kpi class="kpi-color-1" description="Current billing" icon="fa-file-text-o" loading="!vm.invoices.currentBillingAmount">
      <rd-kpi-body-currency amount="{{vm.invoices.currentBillingAmount.amount}}" currency="{{vm.invoices.currentBillingAmount.currency}}"><rd-kpi-body-currency>
    </rd-kpi>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-kpi class="kpi-color-2" description="Last customer invoicing" icon="fa-file-text-o" loading="!vm.invoices.lastInvoicingAmount">
      <rd-kpi-body-currency amount="{{vm.invoices.lastInvoicingAmount.amount}}" currency="{{vm.invoices.lastInvoicingAmount.currency}}"><rd-kpi-body-currency>
    </rd-kpi>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-kpi class="kpi-color-3" description="Last revenue" icon="fa-file-text-o" loading="!vm.invoices.lastPortfolioAmount">
      <rd-kpi-body-currency amount="{{vm.invoices.lastPortfolioAmount.amount}}" currency="{{vm.invoices.lastPortfolioAmount.currency}}"><rd-kpi-body-currency>
    </rd-kpi>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-kpi class="kpi-color-4" description="Last commission" icon="fa-file-text-o" loading="!vm.invoices.lastCommissionAmount">
      <rd-kpi-body-currency amount="{{vm.invoices.lastCommissionAmount.amount}}" currency="{{vm.invoices.lastCommissionAmount.currency}}"><rd-kpi-body-currency>
    </rd-kpi>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-exclamation-circle" title="Customer accounts in arrears"></rd-widget-header>
      <rd-widget-body classes="large no-padding">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Organisation</th>
                <th>Amount</th>
                <th>Reason</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="arrear in vm.organizations.inArrears">
                <td>{{arrear.name}}</td>
                <td ng-if="arrear.amount">{{arrear.amount.options.iso_code}} {{arrear.amount.value}}</td>
                <td ng-if="!arrear.amount">-</td>
                <td>{{arrear.category}}</td>
              </tr>
              <!-- <tr ng-repeat="orgaInArrear in vm.invoices.organizationsInArrears">
                <td><a ui-sref="dashboard.home.organization({orgId: orgaInArrear.id})">{{orgaInArrear.name}}</a></td>
                <td>AUD 56.00</td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-file-text-o" title="Your partner reports"></rd-widget-header>
      <rd-widget-body loading="!vm.invoices.tenantInvoices" classes="large no-padding">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Start</th>
                <th>End</th>
                <th>Revenue</th>
                <th>Commission</th>
                <th class="text-center">Paid</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="invoice in vm.invoices.tenantInvoices">
                <td>{{invoice.started_at | date: 'dd/MM/yyyy'}}</td>
                <td>{{invoice.ended_at | date: 'dd/MM/yyyy'}}</td>
                <td>{{invoice.total_portfolio_amount.options.iso_code}} {{invoice.total_portfolio_amount.value}}</td>
                <td>{{invoice.total_commission_amount.options.iso_code}} {{invoice.total_commission_amount.value}}</td>
                <td class="text-center">
                  <span ng-if="invoice.paid_at" class="text-success">Yes</span>
                  <span ng-if="!invoice.paid_at" class="text-danger">No</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
