<div id="app-connect-modal">
  <div class="modal-header">
    <div class="close" type="button" aria-label="Close" ng-click="vm.close()">×</div>
    <h3 class="modal-title"> Connect to {{vm.app.name}}</h3>
  </div>
  <div class="modal-body">
    <h4 class="text-center">Which version of MYOB do you use?</h4>
    <div class="top-buffer-2"></div>

    <form>
      <input type="hidden" ng-model="vm.form.perform"/>
      <div class="top-buffer-1"></div>

      <div class="form-group text-center">
        <label>My version of MYOB is:</label>
        <select ng-model="vm.form.version" name="version"
                ng-options="version.value as version.name for version in vm.versions"></select>
      </div>

    </form>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-click="vm.connect(vm.form)">Connect</button>
    <button class="btn btn-default" ng-click="vm.close()">Cancel</button>
  </div>
</div>
