<!-- Loader -->
<div class="col-md-12 text-center" ng-show="isLoading">
  <img ng-src="{{assetPath['mno_enterprise/loader-32x32-bg-main.gif']}}" alt="Loading"/>
</div>

<!-- List of teams -->
<div ng-show="!isLoading">
  <h4 ng-show="hasTeams()">{{ title }}</h4>
  
  <div accordion class="accordion">

    <div ng-repeat="team in teams" class='teams-accordion-star-ref'>
    
        <div accordion-group is-open="team.$isAccOpen">
          <div accordion-heading>
              {{ team.name }}
              <span class="caret pull-right" ng-class="{'caret-down': !team.$isAccOpen, 'caret-up': team.$isAccOpen}"></span>
          </div>
      
          <div class="row text-center" ng-show="isTeamEmpty(team)">
            <p class="text-muted">
              <em>{{ team.name }} does not have any team member yet!</em>
            </p>
          
            <div ng-show="canManageTeam()">
              <button class="btn btn-sm btn-grey" ng-click="memberAddModal.open(team)">
                <i class="fa fa-plus"></i>
                <i class="fa fa-user"></i>
                Add Team Members
              </button>
            </div>
          </div>
        
          <div class="row" ng-show="!isTeamEmpty(team)">
            <div class="col-sm-12" ng-show="canManageTeam()">
              <button class="btn btn-sm btn-grey" ng-click="memberAddModal.open(team)">
                <i class="fa fa-plus"></i>
                <i class="fa fa-user"></i>
                Add Team Members
              </button>
            </div>
            <div class="spacer1"></div>
          </div>
        
          <!-- List of team members -->
          <div class="row" ng-show="!isTeamEmpty(team)">
            <div class="col-sm-12">
            
              <div class="table-cell">
        
                <div class="row th-row hidden-xs">
                  <div class="cell col-sm-3 col-md-2">Name</div>
                  <div class="cell col-sm-4 col-md-2">Surname</div>
                  <div class="cell col-md-4 hidden-xs hidden-sm">Email</div>
                  <div class="cell col-sm-3 col-md-2 hidden-xs">Role</div>
                </div>

                <div class="row td-row" ng-repeat="member in team.users">
                  <div class="cell col-sm-3 col-md-2">
                    <span class="cell-label visible-xs-inline">Name:</span>
                    {{ member.name }}
                  </div>

                  <div class="cell col-sm-4 col-md-2">
                    <span class="cell-label visible-xs-inline">Surname: </span>
                    {{ member.surname }}
                  </div>
                
                  <div class="cell col-md-4 hidden-xs hidden-sm">
                    <span class="cell-label visible-xs-inline">Email: </span>
                    {{ member.email }}
                  </div>
                
                  <div class="cell col-sm-3 col-md-2 hidden-xs">
                    <span class="cell-label visible-xs-inline">Role: </span>
                    {{ member.role }}
                  </div>

                  <div class="cell col-sm-2" ng-show="canManageTeam()">
                    <a ng-click="memberRemovalModal.open(team,member)" class="btn btn-sm btn-link">
                      <i class="fa fa-remove hidden-xs"></i>
                      <span class="cell-label visible-xs-inline">&nbsp;Remove</span>
                    </a>
                  </div>
                </div>
        
                <!-- End: table-cell -->
              </div>
            
              <!-- End: col-sm-12 -->
            </div>
          
            <!-- End: row list of users -->
          </div>
        
  
          <!-- End: accordion-group current billing -->
        </div>
    
      <!-- End: ng-repeat:teams -->
    </div>

    <!-- End: accordion -->
  </div>
  
  <!-- End: loading check wrapper -->
</div>
