<div id="create-user">
  <div class="modal-header">
    <h3 class="modal-title">Invite a user</h3>
  </div>

  <form name="vm.form.user" novalidate>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <input type="email" class="form-control input-sm" id="user-email" ng-model="vm.user.email" placeholder="Email" aria-label="Email" required>
        </div>
      </div>
    </div>
  </form>

  <div class="modal-footer">
    <div class="row actions">
      <div class="col-xs-12">
        <button type="button" ng-click="vm.onSubmit()" ng-disabled="vm.isLoading || vm.form.user.$invalid" class="btn btn-primary">
          <span ng-show="vm.isLoading"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
          Send
        </button>
        <a href="" ng-click="vm.onCancel()"><i class="fa fa-times"></i> cancel</a>
      </div>
    </div>
  </div>
</div>
