<div id="staff-user-modal">
  <div class="modal-header">
    <h3 class="modal-title">Add a new staff</h3>
  </div>

  <form name="vm.form.user" novalidate>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-6">
          <input type="text" class="form-control input-sm" id="user-first-name" ng-model="vm.user.name" placeholder="First Name" aria-label="First Name" required>
        </div>
        <div class="col-sm-6">
          <input type="text" class="form-control input-sm" id="user-last-name" ng-model="vm.user.surname" placeholder="Last Name" aria-label="Last Name" required>
        </div>
      </div>

      <div class="row top-buffer-1">
        <div class="col-sm-6">
          <input type="email" class="form-control input-sm" id="user-email" ng-model="vm.user.email"
              placeholder="Email" aria-label="Email" required>
        </div>
        <div class="col-sm-6">
          <select ng-model="vm.user.admin_role" class="form-control input-sm"  ng-options="role for role in vm.admin_roles" required>
            <option value="" disabled selected>- Role -</option>
          </select>
        </div>
      </div>
    </div>
  </form>

  <div class="modal-footer">
    <div class="row actions">
      <div class="col-xs-12">
        <button type="button" ng-click="vm.onSubmit()" ng-disabled="vm.isLoading || vm.form.user.$invalid" class="btn btn-primary">
          <span ng-show="vm.isLoading"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
          Save
        </button>
        <a href="" ng-click="vm.onCancel()"><i class="fa fa-times"></i> cancel</a>
      </div>
    </div>
  </div>
</div>
