//=====================================
// Confirmation Lounge
//=====================================

.confirmation-lounge {
  height: 100%;
}

.confirmation-lounge h4.bold {
  font-weight: 400;
}

.confirmation-lounge h5 {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: #abc4c6;
}

.confirmation-lounge i.fa.fa-envelope {
  color: @elem-cozy-color;
  font-size: 160px;
}