<div id="remove-app-modal">
  <!-- Modal Header -->
  <div class="modal-header">
    <h3 class="modal-title">Remove {{::vm.app.name}}</h3>
    <div class="close" type="button" ng-click="vm.closeModal()" >×</div>
  </div>
  <!-- Modal Body -->
  <div class="modal-body">
    <p>Are you sure you sure that you want to remove this app?</p>
  </div>
  <!-- Modal Footer -->
  <div class="modal-footer">
    <div class="row">
      <div class="col-md-12">
        <button ng-click="vm.deleteApp()" class="btn btn-danger arrow" ng-disabled="vm.modal.loading">
          <span ng-show="vm.modal.loading">
            <i class="fa fa-pulse fa-spinner"></i>
          </span>
          Yes
        </button>
        <button ng-click="vm.closeModal()" class="btn btn-default">
          No
        </button>
      </div>
    </div>
  </div>
</div>
