.center {
  text-align:center;
}

.text-align-left {
  text-align:left;
}

.text-align-center {
  text-align:center;
}

.text-color-fluroblue {
  color:@brand-primary;
}

.text-color-purple {
  color:@elem-cozy-color;
}

.text-color-darkblue {
  color:@bg-inverse-color;
}
