.registration
  .container
    .row
      .login-box-wrapper
        .login-box-title
          %h2= t('.title')
        .login-box
          %img.brand-logo{src: asset_path('mno_enterprise/main-logo.png')}
          = render "mno_enterprise/auth/unlocks/form"
          %hr
          = render "mno_enterprise/auth/shared/links"
