<rd-widget>
  <rd-widget-header icon="fa-users" title="{{users.widgetTitle}}">
    &nbsp;<a href="" ng-click="switchState()" ng-show="users.list && users.switchLinkTitle" ng-class="{'disabled': users.loading}">{{users.switchLinkTitle}}</a>
    <input type="text" ng-model="users.search" ng-change="searchChange()" ng-model-options='{ debounce: 1000 }' placeholder="Search all" class="form-control input-sm search-bar" />
  </rd-widget-header>
  <rd-widget-body loading="users.loading" classes="large no-padding">
    <table class="table table-layout-fixed">
      <thead>
        <tr>
          <th>Username</th>
          <th style="width: 100px;">Creation</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users.list">
          <td class="ellipsis">
            <a ui-sref="dashboard.home.user({userId: user.id})">
              <div ng-show="user.name && user.surname">{{::user.name}}  {{::user.surname}}</div>
              <div ng-show="!user.name && !user.surname">nc</div>
              <small>{{::user.email}}</small>
            </a>
          </td>
          <td>{{::user.created_at | date: 'dd/MM/yyyy'}}</td>
        </tr>
      </tbody>
    </table>
  </rd-widget-body>
  <rd-widget-footer ng-show="users.list && state == 'all' && !searchMode">
    <mno-pagination
      page="users.page"
      nb-items="users.nbItems"
      total-items="users.totalItems"
      on-change-cb="users.pageChangedCb(nbItems, page)"
      is-loading="users.loading">
    </mno-pagination>
  </rd-widget-footer>
</rd-widget>
