.banners.promo.dark.darkblue
  .container
    .row
      %h2 Successfully logged out from App
.banners.promo
  .container
    .row
      .col-md-6.col-md-offset-3
        .align-center
          %h3
            You have successfully logged out from your application
          %h4 Tip: if you wish to logout from all your apps at once, just logout from Maestrano!
        .spacer4
        .align-center
          %h5
            If you think this is a mistake, please send us an email at
            = mail_to support_email
        .spacer4
