.myspace
  .container
    .row
      %div.dashboard-menu{ 'dashboard-menu'=>true, 'background-color'=>'backgroundColor' }
      %div{ class: MnoEnterprise.style.layout.dashboard_menu_orientation == 'horizontal' ? 'col-xs-12' : 'col-xs-11' }
        %div{ 'ng-view'=>true }
