.myspace
  .container
    .row
      %div.dashboard-menu{ 'dashboard-menu'=>true, 'background-color'=>'backgroundColor', 'orientation'=>"#{MnoEnterprise.style.layout.dashboard_menu_orientation}" }
      .col-xs-12
        %div{ 'ng-view'=>true }
