<div class="analytics">

  <div class='row head-title'>
    
    <!-- Title and Dashboard selection -->
    <div class="col-md-6">
      
      <h4 ng-hide='showChooseDhbMsg' class="dashboard-label">Dashboard - </h4>
      
      <h4 ng-hide='showChooseDhbMsg' class='dashboard-title' ng-click="(dashboardsList.length > 1 || showCreateDhb) ? showDashboardsList = !showDashboardsList : showDashboardsList = false">
        {{currentDhb.full_name}}
        <i class="fa fa-chevron-down" style="font-size: 18px;"></i>  
      </h4>

      <div collapse="!showDashboardsList" class='dashboard-select'>
        <div ng-hide="dhb.id == currentDhbId" class='option' ng-repeat="dhb in dashboardsList" ng-click="selectDashboard(dhb.id)">{{dhb.full_name}}</div>
        <div ng-show="showCreateDhb" class="option create" ng-click="modal.createDashboard.open()"><i class="fa fa-plus" /> New Dashboard</div>
      </div>

      <p ng-hide='showChooseDhbMsg' class="data-source-label">
        <small><b>Source:</b> {{currentDhb.organizationsNames}}</small>
      </p>
      
    </div>

    <!-- Buttons -->
    <div class='col-md-6 buttons-bar'>
      <div class='actions-panel'>
        <button ng-click="showWidgetSelector = true" class='btn btn-warning' ng-show="showCreateWidget" ng-disabled="showWidgetSelector"><span class='fa fa-plus'></span> Add Widget</button>
        <button ng-click="modal.createDashboard.open()" class='btn btn-warning' ng-show="showCreateDhb"><span class='fa fa-plus'></span> New Dashboard</button>
        <button ng-click="modal.deleteDashboard.open()" class='btn btn-danger' ng-show="showDeleteDhb">Delete</button>
      </div>
    </div>

  </div>

  <!-- Widgets selection container -->
  <div id="widget-selector" collapse="!showWidgetSelector">
    <div class="title">
      <i class="fa fa-times-circle" ng-click="showWidgetSelector = false"/>
      <span class="badge confirmation">Widget added!</span>
      Select the widgets you want to add to your dashboard.
    </div>

    <div class="row top-container">
      <div class="col-md-3 categories">
        <div class="row header">
          All categories
        </div>
        <div class="row lines">
          <div class="col-md-12" style="padding: 3px 12px;">
            <p ng-click="selectedCategory='accounts'" ng-class="isCategorySelected('accounts') ? 'selected' : none">Accounting</p>
            <p ng-click="selectedCategory='invoices'" ng-class="isCategorySelected('invoices') ? 'selected' : none">Invoicing</p>
            <!-- To be released soon! -->
            <!-- <p ng-click="selectedCategory='hr'" ng-class="isCategorySelected('hr') ? 'selected' : none">HR / Payroll</p>
            <p ng-click="selectedCategory='sales'" ng-class="isCategorySelected('sales') ? 'selected' : none">Sales</p> -->
          </div>
        </div>

        <div class="arrow" ng-style="getSelectedCategoryTop()">
          <div class="square" />
          <i class="fa fa-caret-right" />
        </div>

      </div>

      <div class="col-md-9 widgets">
        <div class="row header">
          {{getSelectedCategoryName() | titleize}}
        </div>
        <div class="row lines">
          <div class="col-md-4" ng-repeat="widgetPattern in getWidgetsForSelectedCategory()" style="padding: 0px 8px;">
            <p ng-click="addWidget(widgetPattern.path, widgetPattern.metadata)" tooltip="{{widgetPattern.desc}}" tooltip-placement="{{$index < 9 ? 'bottom' : 'top'}}" tooltip-animation="false"><i class="fa fa-{{widgetPattern.icon}}" /> {{widgetPattern.name}} <i class="fa fa-plus-circle" /></p>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom">
      <span class="suggestion">
        Can't find the widget you're looking for? <a ng-click="modal.widgetSuggestion.open()">Give us your suggestions here!</a>
      </span>
    </div>  
  </div>

  <!-- Errors -->
  <div class="alert alert-error" ng-show="errors">
    <button class="close" ng-click="errors=''">×</button>
    <ul>
      <li ng-repeat="error in errors">{{error}}</li>
    </ul>
  </div>
  
  <!-- First Time Dashboard Creation -->
  <div class="row text-center text-bg-inverse" ng-show='showChooseDhbMsg && !isLoading'>
    <div class="spacer2"></div>
    <div class='col-md-8 col-md-offset-2'>
      <p><b>Looks like you do not have any dashboard yet!</b></p><p>Dashboards are a great way of visualizing your data and monitoring your business. Our smart widgets will give you deep insight on how your business performs every day in real time, all thanks to our patend data sharing platform <span>Connec!™</span></p>
      <br>
      <button ng-click="modal.createDashboard.open()" class='btn btn-lg btn-grey btn-grey-bordered'><span class='fa fa-plus'></span> Create a Dashboard!</button>
      
      <div class='spacer5'></div>
      <p class="text-muted"><small><em>Note: dashboards you create will only be accessible by you. Dashboard sharing across users will be added soon.</em></small></p>
    </div>
  </div>
  
  <!-- First Time Dashboard Creation -->
  <div class="row text-center text-bg-inverse" ng-show='showNoWidgetsMsg && !isLoading'>
    <div class="spacer2"></div>
    <div class='col-md-8 col-md-offset-2'>
      <p><b>Right. Let's get this dashboard warmed up!</b></p><p>Click on the button below to add a new widget to your dashboard. Our widgets currently focus on financial data but more will come soon!</p>
      <br>
      <button ng-disabled="showWidgetSelector" ng-click="showWidgetSelector=true" class='btn btn-lg btn-grey btn-grey-bordered'><span class='fa fa-plus'></span> Add a new Widget</button>
    </div>
  </div>

  <div class='spacer1'></div>

  <!-- Widgets -->
  <div class='row'>
    <div ui:sortable='sortableOptions' ng:model="currentDhb.widgets" class='widgets-container'>
      <div impac-widget widget="widget" parent-dashboard="currentDhb" ng-repeat="widget in currentDhb.widgets" class="widget-item" />
    </div>
  </div>

</div>

<div class='clearfix'></div>
<div class='spacer2'></div>
