.registration
  .spacer5.hidden-xs.hidden-sm
  .banners.promo
    .container
      .row
        .col-md-6.col-md-offset-3
          .align-center
            %h4 Sign Up
          
          = render "form"
          
          %hr
          
          .text-center
            = render "devise/shared/links"

