.registration
  .container
    .row
      .login-box-wrapper
        .login-box-title
          %h2 Sign Up
        .login-box
          .brand-logo
          = render "form"
          %hr
          = render "devise/shared/links"

