//-----------------------------
// Modals
//-----------------------------
.modal-add .modal-body {

  .widgets-panel {
    width: 100%;
    border-radius: 4px;
    // color: @bg-inverse-intense-color;
    color: @bg-inverse-intense-color;
    // color: @decorator-main-color;
    background-color: @bg-inverse-color;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 550px;

    .panel-heading {
      cursor: pointer;
      background-color: #f5f5f5;

      h1.panel-title {
        color: @bg-inverse-intense-color;
        font-size: 20px;
      }
    }

    .panel-body {
      padding: 8px;

      .tooltip {
        .tooltip-inner {
          &.ng-binding {
            background-color: @bg-inverse-intense-color;
            color: @elem-positive-color;
          }
        }
      }

      .widget {
        min-height: 133px;
        margin-bottom: 5px;
        padding-top: 8px;
        cursor: pointer;
        border-radius: 3px;
        .icon {
          height: 80px;
          width: 80px;
          border: solid 1px @bg-main-color;
          border-radius: 2px;
          background-color: @bg-inverse-color;
          i {
            color: @bg-inverse-intense-color;
            margin-left: 4px;
            margin-top: 19px;
          }
          img {
            margin-top: 12px;
          }
        }
        label {
          font-weight: normal;
          cursor: pointer;
        }
      }

      .widget:hover {
        background-color: @bg-main-color;
        color: @text-strong-color;
        // background-color: #f5f5f5;
        .icon {
          i {
            color: darken(@decorator-inverse-color,3%), ;
          }
        }
        label {
          // text-decoration: underline;
        }
      }
    }
  }
}

.modal-custom-calculation .modal-body {
  .edit {
    color: @impac-widget-text-color;
    padding: 5px;
    h4 {
      margin: 0;
      margin-bottom: 8px;
      text-align: left;
      .font(15px,300,@impac-widget-text-color);
    }
    .part {
      width: 49%;
      margin-bottom: 8px;
      padding: 10px 0px;
      background-color: @impac-widget-sub-bg-color-light;
      // color: #626d6d;
      border: solid 1px @impac-widget-borders-color;
      h5 {
        margin: 0;
        margin-bottom: 10px;
        padding: 0px 15px;
        text-transform: uppercase;
        font-size: 12px;
      }
      label {
        font-weight: normal;
      }
      .widget-lines-container {
        .widget-line {
          padding: 5px 10px 5px 18px;
          &:nth-child(even) {
            background-color: @impac-widget-background-color;
          }
          .fa {
            float: right;
            font-size: 20px;
            cursor: pointer;
            &.fa-toggle-on {
              color: @impac-widget-link-color;
            }
            &.fa-toggle-off {
              color: @impac-widget-sub-bg-color-light;
            }
          }
        }
      }
    }
  }
  .loader {
    // margin-top: 75px;
    color: @impac-widget-link-color;
    font-weight: bold;
    .gif {
      display: block;
      margin-top: 10px;
    }
  }
  .form-control {
    margin-top: 5px;
    background-color: @impac-widget-background-color;
    height: 32px;
  }
} 

.analytics {
  padding-top: 33px;
  //-----------------------------
  // Format Dashboard Selection
  // and data sources
  //-----------------------------
  .head-title {
    padding-top: 20px;

    .dashboard-select {
      margin: 5px 0px 10px 100px;
      height: auto;
      border-left: 1px solid darken(@impac-dashboard-title-color,10%);
      border-bottom: 1px solid darken(@impac-dashboard-title-color,10%);
      width: 300px;
      background-color: @bg-main-color;
      cursor: pointer;
      .option {
        padding: 5px 10px 5px 10px;
        color: @impac-dashboard-title-label-color;
        white-space: nowrap;
        &:hover {
          background-color: @bg-inverse-color;
          color: @text-inverse-color;
        }
        &.create {
          background-color: @impac-dashboard-title-color;
          color: @impac-dashboard-title-label-color;
        }
        &.create:hover {
          background-color: darken(@impac-dashboard-title-color,10%);
        }
      }
    }

    .dashboard-label {
      color: @impac-dashboard-title-label-color;
      display: inline;
    }
    
    .dashboard-title {
      color: @impac-dashboard-title-color;
      display: inline;
      cursor: pointer;
      &:hover {
        color: darken(@impac-dashboard-title-color,10%);
      }
    }

    .data-source-label {
      color: @impac-dashboard-source-color;
      padding-left: 3px;
      margin: 0px;
    }

    .buttons-bar {
      // padding-top: 64px;
    }

    //----------------------------
    // Format top menu actions
    //----------------------------
    .actions-panel {
      float:right;
      .btn {
        margin:3px;
      }
    }
  }
  
  //-----------------------------
  // Format widgets
  //-----------------------------
  .widgets-container {

    //-----------------------------
    // Common to all widgets
    //-----------------------------

    .placeHolderBox {
      margin: 12px;
      height: 267px;
      width: 300px;
      float: left;
      border: 2px dashed @impac-placeholder-border-color;
      background: none;
    }

    .widget-item {
      padding: 12px;

      select {
        margin-top: 5px;
        background-color: @impac-widget-background-color;
        height: 32px;
      }

      .top-line {
        cursor: move;
        background-color: @impac-widget-background-color;
        padding: 10px 10px 0px 10px;
        border-radius: 5px 5px 0px 0px;
        min-height: 41px;

        .btn {
          float: right;
          background: transparent;
          border: none;
          color: @impac-widget-borders-color;
          padding: 0px;
          margin-left: 3px;
          outline: none;

          &:active, &:focus {
              -webkit-box-shadow: none;
            }

            &.btn-edit {
              font-size: 18px;
              &:hover {
                color: @elem-positive-color;
              }
              span {
                vertical-align: top;
              }
            }
            &.btn-editmode {
              font-size: 18px;
              color: @elem-positive-color;
              span {
                vertical-align: top;
              }
            }
            &.btn-close {
              // Not used as the button contains an image
              &:hover {
                color: @brand-danger;
              }
              img {
                vertical-align: top;
              }
            }
          }

          .title-wrapper {
            width: 100%;
            padding: 0px 10px 10px 10px;
            border-bottom: solid 1px @impac-widget-borders-color;
            white-space: nowrap;
            .title {
              display: inline;
              text-transform: uppercase;
              .font(12px,600,@impac-widget-title-text-color);
              text-align: left;
              cursor: text;
            }
            .editable-wrap {
              height: 20px;
              width: 75%;
              .editable-controls {
                width: 100%;
                .editable-input {
                  height: 20px;
                  font-size: 12px;
                  text-transform: uppercase;
                  width: 100%;
                }
              }
            }
          }
        }

      .content {
        padding: 10px;
        border-radius: 0px 0px 5px 5px;
        background-color:@impac-widget-background-color;
        min-height:250px;
        vertical-align:top;

        a {
          font-weight: bold;
          color: @impac-widget-link-color;
          cursor: pointer;
        }
        
        .currency {
          .font(16px,300,@impac-widget-legend-color);
          text-align: center;
        }

        .data-not-found {
          text-align: center;
          margin-top: 75px;
          font-size: 18px;
          color: #5B6667;
          a {
            color: @impac-widget-link-color;
            display: block;
            font-size: 16px;
            font-weight: normal;
          }
        }

        .edit {
          max-height: 230px;
          overflow-y: auto;
          overflow-x: hidden;
          // color: @bg-inverse-color;
          padding: 2px;
          font-size: 12px;

          .btn {
            border-radius: 2px;
            margin-right: 5px;
            padding: 3px 13px;
            text-transform: uppercase;
            font-size: 12px;

            &.btn-default {
              background-color: @input-bg;
              border: solid 1px darken(@input-bg,10%);
              color: @input-color;
              &:hover {
                border: solid 1px darken(@input-bg,20%);
                background-color: darken(@input-bg,10%);
              }
            }
          }

          h4 {
            margin: 0;
            margin-bottom: 8px;
            text-align: left;
            .font(12px,normal,@impac-widget-legend-color);
          }
          .part {
            margin-bottom: 8px;
            padding: 10px 0px;
            background-color: @impac-widget-sub-bg-color-light;
            color: @impac-widget-text-color;
            border: 1px solid @impac-widget-borders-color;
            h5 {
              margin: 0;
              margin-bottom: 10px;
              padding: 0px 15px;
              text-transform: uppercase;
              font-size: 12px;
              color: @impac-widget-legend-color;
            }
            .input-group.select-account {
              padding: 0px 5px;
            }
            
            input[type="radio"] {
              margin: 0;
              margin-right: 3px;
              padding: 0;
              width: 13px;
              height: 13px;
              vertical-align: middle;
              position: relative;
              top: -1px;
              outline: none;
            }

            input[type="range"] {
              height: 20px;
            }

            label {
              font-weight: normal;
            }

            select.form-control {
              margin: 0px;
              outline: none;
              -webkit-box-shadow: none;
              font-size: 13px;
            }

            .chart-filters {
              margin: 0px;
            }

            .time-range {
              padding: 0px 5px;
            }

            .widget-lines-container {
              .widget-line {
                padding: 5px 10px 5px 18px;
                &:nth-child(even) {
                  background-color: @impac-widget-sub-bg-color-light;
                }
                .fa {
                  float: right;
                  font-size: 20px;
                  cursor: pointer;
                  &.fa-toggle-on {
                    color: @impac-widget-link-color;
                  }
                  &.fa-toggle-off {
                    color: @impac-widget-legend-color;
                  }
                }
              }
            }
          }
        }

        .fa-pencil-square {
          float: right;
        }

        h2 {
          text-align: left;
          .font(35px,700,@impac-widget-text-color);
        }

        h3 {
          margin: 0;
          text-align: left;
          .font(14px,300,@impac-widget-legend-color);
        }

        .h3-wrapper {
          display:table;
          min-height:90px;
          width:100%;
          h3 {
            width:100%;
            display:table-cell;
            text-transform: uppercase;
            .font(20px,300,@impac-widget-legend-color);
            text-align: center;
            vertical-align: middle;
          }
        }

        .histModeChoser {
          width: 150px;
          margin: auto;
          padding-bottom: 8px;
          border-bottom: solid 1px @impac-widget-borders-color;
          .font(12px,500,@impac-widget-text-color-light);
          a {
            .font(12px,500,@impac-widget-text-color-light);
            text-transform: uppercase;
            &.active {
              color: @impac-widget-link-color;
            }
          }
        }
        .arrow-container {
          width: 28px;
          height: 28px;
          position: relative;
          top: -14px;
          margin: auto;
          &.right {
            left: 30px;
          }
          &.left {
            left: -30px;
          }
          .arrow-border {
            border-top: 14px solid @impac-widget-borders-color;
            border-left: 14px solid transparent;
            border-right: 14px solid transparent;
            width: 0px;
            height: 0px;
          }
          .arrow {
            border-top: 14px solid #ffffff;
            border-left: 14px solid transparent;
            border-right: 14px solid transparent;
            position: relative;
            top: 12px;
            width: 0px;
            height: 0px;
          }
        }

        .input-group {
          width: 100%;
        }

        .legend {
          text-align: center;
          .font(12px,300,@impac-widget-legend-color);
        }

        .loader {
          margin-top: 75px;
          color: @impac-widget-text-color-light;
          font-weight: bold;
          .gif {
            display: block;
            margin-top: 10px;
          }
        }

        .price {
          .font(22px,900,@impac-widget-price-color);
          text-align: center;
          margin-top: 30px;
        }

        .widget-lines-container {
          max-height: 200px;
          overflow-y: auto;
          overflow-x: hidden;
          font-size: 12px;
        }

        .widget-line {
          width:100%;
          margin:0px;
          padding:5px;
          // color:@text-inverse-color;
          &:nth-child(even) {
            background-color:@impac-widget-sub-bg-color;
          }
          &:nth-child(odd) {
            background-color:@impac-widget-background-color;
          }
          .table-header {
            font-weight: bold;
          }
        }

        //-----------------------------
        // 'Accounts' widgets
        //-----------------------------

        &.accounts {
          .blue {
            color: @impac-widget-price-positive-color;
          }
          .history {
            margin-top: 10px;
          }
          .pink {
            color: @impac-widget-price-negative-color;
          }

          &.assets-summary {
            .chart-container {
              margin-top: 10px;
            }
            .legend {
              text-align: left;
              overflow-y: auto;
              overflow-x: hidden;
              max-height: 98px;
            }
          }
          
          &.balance {
            h3 {
              margin-top: 30px;
              text-align: center;
            }
            .price {
              margin-top: 0px;
            }
          }

          &.comparison {
            min-height: 565px;
            .add-account {
              position: absolute;
              right: 40px;
              bottom: 30px;
              width: 160px;
              select {
                font-size: 13px;
                background-color: @impac-widget-link-color;
                color: @impac-widget-background-color;
                outline: none;
                border: none;
                cursor: pointer;
                &[disabled] {
                  cursor: not-allowed;
                  background-color: lighten(@impac-widget-link-color,40%);
                  &:hover {
                    background-color: lighten(@impac-widget-link-color,40%);
                  }
                }
                &:hover {
                  background-color: darken(@impac-widget-link-color,10%);
                }
                option {
                  background-color: @impac-widget-background-color;
                  color: lighten(@impac-widget-text-color,30%);
                  &[disabled] {
                    color: @impac-widget-background-color;
                  }
                }
              }
            }
            // .border {
            //   margin: 15px 0px;
            //   border-color: #E6E6E6;
            //   border-top: 0px;
            //   border-left: 0px;
            //   border-right: 0px;
            // }
            button.close {
              font-size: 15px;
            }
            .legend {
              text-align: left;
              max-height: 103px;
              overflow-y: auto;
              overflow-x: hidden;
            }
            .loader {
              margin: 75px 0px 77px 0px;
            }
            .row {
              margin: 0;
              &.chart {
                // min-height: 241px;
              }
            }
            .widget-lines-container {
              font-size: 11px;
              max-height: 240px;
            }
          }

          &.custom-calculation {
            h3 {
              margin-top: 85px;
              text-align: center;
              font-weight: bold;
            }

            .price {
              margin-top: 75px;
            }
          }

          &.expenses-revenue {
            .chart-container {
              margin-top: 13px;
              margin-bottom: 8px;
            }
            .legend {
              font-weight: bold;
            }
          }

          &.payable-receivable {
            h3 {
              text-align: center;
            }
            .legend {
              font-weight: bold;
            }
            .payable {
              margin-top: 15px;
              .price {
                margin: 0;
              }
            }
            .receivable {
              // margin-top: 20px;
              .price {
                margin: 0;
              }
            }
          }
        }

        //-----------------------------
        // 'Invoices' widgets
        //-----------------------------
        
        &.invoices {

          &.list {
            .table-header {
              .font(12px,500,@impac-widget-text-color-light);
              text-transform: uppercase;
            }
            
            .tooltip {
              .tooltip-inner {
                &.ng-binding {
                  text-align: left;
                  background-color: @bg-main-color;
                  max-width: 100%;
                  white-space: nowrap;
                  strong {
                    color: @elem-positive-color;
                  }
                }
              }
            }

            .widget-lines-container {
              .widget-line:hover {
                background-color: lighten(@bg-main-color,10%);
                color: @bg-inverse-color;
                cursor: pointer;
              }
            }

            &.unpaid, &.paid, &.invoiced{
              .widget-lines-container {
                // max-height: 160px;
              }
            }
          }

          &.summary {
            height: 250px;
            .chart-container {
              max-width: 410px;
            }
            .legend {
              height: 28px;
            }
            #myChart {
              margin-top: 8px;
            }
          }
        }
      }
    }
  }
}