<rd-widget>
  <rd-widget-header icon="fa-sitemap" title="{{organizations.widgetTitle}}">
    &nbsp;<a href="" ng-click="switchState()" ng-show="organizations.list && organizations.switchLinkTitle" ng-class="{'disabled': organizations.loading}">{{organizations.switchLinkTitle}}</a>
    <input type="text" ng-model="organizations.search" ng-change="searchChange()" ng-model-options='{ debounce: 1000 }' placeholder="Search all" class="form-control input-sm search-bar" />
  </rd-widget-header>
  <rd-widget-body loading="organizations.loading" classes="large no-padding">
    <table class="table table-layout-fixed">
      <thead>
        <tr>
          <th>Name</th>
          <th style="width: 100px;">Creation</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="organization in organizations.list">
          <td><a ui-sref="dashboard.home.organization({orgId: organization.id})">{{organization.name}}</a></td>
          <td>{{organization.created_at | date: 'dd/MM/yyyy'}}</td>
        </tr>
      </tbody>
    </table>
  </rd-widget-body>
  <rd-widget-footer ng-show="organizations.list && state == 'all' && !searchMode">
    <mno-pagination
      page="organizations.page"
      nb-items="organizations.nbItems"
      total-items="organizations.totalItems"
      on-change-cb="organizations.pageChangedCb(nbItems, page)"
      is-loading="organizations.loading">
    </mno-pagination>
  </rd-widget-footer>
</rd-widget>
