.editable.editable-click,
a.editable.editable-click {
  color: @decorator-alt-color;
  border: none;

  &:hover {
    color: @decorator-alt-color;
    border-bottom: dashed 1px fadeout(@decorator-alt-color,60%);
  }
}

form.editable-wrap {
  margin: 0px !important;
}

form.editable-wrap .editable-controls {
  padding: 0px;
}

form.editable-wrap .editable-controls input {
  height: 30px;
  padding: 0px 5px;
  border: dashed 1px #ccc;
  .box-shadow(none);
}

.editable-instructions {
  display: inline;
}

.editable-instructions form.editable-wrap .editable-controls:after {
  display: block;
  content: "press enter to confirm";
  font-style: italic;
  font-size: 10px;
  line-height: 12px;
  color: #777777;
  margin-top: -10px;
  padding-left: 5px;
}