%script{ src: "//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" }
%script{ src: "//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js" }
%script{ src: "//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js" }
%script{ src: "//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.0/angular-sanitize.min.js" }
%script{ src: "//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.0/angular-route.min.js" }
%script{ src: "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" }
%script{ src: "//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js" }
%script{ src: "//cdn.jsdelivr.net/g/json2@0.1,jquery.cookie@1.3.1,jquery.placeholder@2.0.7,underscorejs@1.4.4,momentjs@1.7.2,load-image@1.11.1,accounting.js@0.3.2,underscore.string@2.3.3"}

- if MnoEnterprise.style.design.material
  %script{ src: "//ajax.googleapis.com/ajax/libs/angular_material/0.9.0/angular-material.min.js" }

  
